.blog-page-heading {}
.blog-page-heading .sec-header{

}
.blog-page-sec{
	background-color: #fbfbfb;
	padding-top: 78px;
}
.blog-page-sec .blog-grid-items ul li{
	padding: 0 12px 40px!important;
}
.blog-grid-item{
	box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.03);
	-ms-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.03);
	-webkit-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.03);
}

.blog-page-sec .fl-grid-tag{
	margin-top: -16px;
    margin-left: 27px;
    position: relative;
    padding-bottom: 23px;
}
.fl-grid-tag span{
	padding: 8px 18px;
	background-color: #ffa800;
	letter-spacing: -0.02em;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 500;
	color: #fff;
	display: inline-block;
	vertical-align: baseline;
	line-height: 1;
}
.blog-grid-des{
	padding: 0 28px 37px;
}

/* == responsive == */

@media (max-width: 1699px) {
	.blog-grid-des {
    	padding: 0 26px 35px;
	}
}

@media (max-width: 1499px) {
	.blog-page-sec .blog-grid-items ul li{
		padding: 0 10px 40px!important;
	}
	.blog-grid-des {
    	padding: 0 23px 33px;
	}

}

@media (max-width: 1199px) {
	
}

@media (max-width: 991px) {
	
}

@media (max-width: 767px) {
	
}

@media (max-width: 575px) {
	
}

@media (max-width: 479px) {
	
}

@media (max-width: 375px) {
	
}

@media (max-width: 1699px) {
	
}