.hd, .fd{
	display: none;
}
.blog-page-heading {}
.blog-page-heading .sec-header{

}
.blog-page-sec{
	background-color: #fbfbfb;
	padding-top: 78px;
}
.blog-page-sec .blog-grid-items ul li{
	padding: 0 12px 40px!important;
}
.blog-grid-item{
	box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.03);
	-ms-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.03);
	-webkit-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.03);
}

.blog-page-sec .fl-grid-tag{
	margin-top: -16px;
    margin-left: 27px;
    position: relative;
    padding-bottom: 23px;
}
.fl-grid-tag span{
	padding: 9px 18px;
	background-color: #ffa800;
	letter-spacing: -0.02em;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 500;
	color: #fff;
	display: inline-block;
	vertical-align: baseline;
	line-height: 1;
}
.blog-grid-des{
	padding: 23px 28px 37px;
	background: #fff;
}

/* == responsive == */

@media (max-width: 1699px) {
	.blog-page-sec{
		padding-top: 70px;
	}
	.blog-grid-des {
    	padding: 0 26px 35px;
	}
	.fl-grid-tag span{
		padding: 8px 16px;
		font-size: 13px;
	}
}

@media (max-width: 1499px) {
	.blog-page-sec{
		padding-top: 62px;
	}
	.blog-page-sec .blog-grid-items ul li{
		padding: 0 10px 40px!important;
	}
	.blog-grid-des {
    	padding: 0 23px 33px;
	}
	.blog-page-sec .fl-grid-tag{
		margin-top: -15px;
		margin-left: 22px;
		padding-bottom: 20px;
	}
	.fl-grid-tag span{
		font-size: 12px;
	}

}

@media (max-width: 1199px) {
	.blog-page-sec{
		padding-top: 56px;
	}
}

@media (max-width: 991px) {
	.blog-page-sec{
		padding-top: 48px;
	}
	.blog-grid-des {
    	padding: 0 15px 31px;
	}
	.blog-page-sec .fl-grid-tag{
		margin-top: -14px;
		margin-left: 15px;
		padding-bottom: 17px;
	}
	.fl-grid-tag span{
		padding: 8px 14px 6px;
		font-size: 11px;
	}
}

@media (max-width: 767px) {
	.blog-page-sec{
		padding-top: 40px;
	}
	.blog-grid-des {
    	padding: 0 20px 31px;
	}
	.blog-page-sec .fl-grid-tag{
		margin-left: 20px;
		padding-bottom: 13px;
	}
}

@media (max-width: 575px) {
	.blog-page-sec{
		padding-top: 31px;
	}
	.blog-grid-des {
    	padding: 0 26px 31px;
	}
	.blog-page-sec .fl-grid-tag{
		margin-left: 26px;
		padding-bottom: 13px;
	}
	.fl-grid-tag span{
		padding: 7px 13px 6px;
		font-size: 10px;
	}
}

@media (max-width: 479px) {
	
}

@media (max-width: 375px) {
	
}

@media (max-width: 1699px) {
	
}