.n-checkout-progress{
	padding: 100px 0 50px 0;
}
.n-checkout-progress-wrap{
	display: flex;
}
.checkout-progress-cntlr{
	margin: 0 -10px;
	margin-left: auto;
	max-width: 440px;
	width: 100%;
}	

.checkout-progress{
	display: flex;
	position: relative;
	margin: 0 -10px;
}
.checkout-progress-bar{
	position: absolute;
	content: "";
	background: #ECE9E9;
	border-radius: 1px;
	height: 4px;
	left: 10px;
	right: 10px;
	top: 50%;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	margin-top: -9px;
	border: 1px solid #C6DDF0;
}
.checkout-progress-bar .ckour-pro-bar-active{
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	bottom: 0;
	background: transparent;
	border-radius: 1px;
	
}
.checkout-progress-bar .ckour-pro-bar-1{
	width: 5%;
}
.checkout-progress-bar .ckour-pro-bar-2{
	width: 50%;
}
.checkout-progress-bar .ckour-pro-bar-3{
	width: 100%;
}
.checkout-progress-bar .ckour-pro-bar-active.active{
	background: #1DB4B2;
}
.chckout-prgrs-col{
	width: 33.33%;
	padding: 0 10px;
	text-align: left;
}
.chckout-prgrs-col.chckout-prgrs-col-3{
	text-align: center;
}
.chckout-prgrs-col.chckout-prgrs-col-3{
	text-align: right;
}
.chckout-prgrs-number{
	font-weight:400;
	font-size: 14px;
	line-height: 1;
	color: #909BA5;
	margin-bottom: 14px;
	display: block;
}
.chckout-prgrs-title{
	font-weight: 400;
    font-size: 14px;
    line-height: 1.3;
    color: #707C88;
    margin-bottom: 0;
    text-transform: initial;
}
.chckout-prgrs-col-2{
	text-align: center;
}
.chckout-prgrs-col.active .chckout-prgrs-number{
	color: #1DB4B2;
}
.checkout-page-title .checkoutpt-left{
    /*float: left;*/
}
.checkout-page-title .checkoutpt-right{
    /*float: right;*/
    margin-left: auto;
}
.checkout-page-title .progressbar-crtl{
	width: 440px;
   padding-top:0px;
}
@media(max-width: 767px){
	.checkout-page-title .progressbar-crtl{
		padding-top: 0;
		width: auto;
	}
	.checkout-progress-cntlr{
		margin-left: 0;
		max-width: 100%;
	}
	.checkout-page-title .checkoutpt-right{
		display: block!important;
	}

}
@media(max-width:575px){
	.chckout-prgrs-title{
		font-size:10px;
	}
	.checkout-progress-bar{
		margin-top:-3px;
	}
}