.blog-page .header{
	margin-bottom: 0;
}
.coaching-sec .blog-grids-cntrl{
	padding-top: 41px;
}

.blog-grid-items ul{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 0 -12px!important;
}
.blog-grid-items ul li{
	padding: 0 12px 96px!important;
	width: 33.3333%!important;	
}
.coaching-sec .blog-grid-items,
.blog-page-sec .blog-grid-items{
	padding-bottom: 20px;
}
.coaching-sec  .blog-grid-item{
	background: #fff;
	position: relative;
	box-shadow: none;
}
.blog-grid-items .slick-track .blog-grid-des.mHc{
	height: auto!important;
}
.blog-grid-item:hover .bgi-img{
	transform: scale(1.1);
	-ms-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-o-transform: scale(1.1);
}
.blog-grid-img{
	width: 100%;
	height: 294px;
	overflow: hidden;
	position: relative;
}
.coaching-sec .blog-grid-img{
	margin-bottom: 24px;
}
.bgi-img{
	width: 100%;
	height: 100%;
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
.coaching-sec .blog-grid-des{
	padding: 0;
} 
.blog-grid-des .bgi-title{
	line-height: 1.25;
	font-weight: 600;
	margin-bottom: 12px;
	letter-spacing: -0.02em;
}
.blog-grid-des .bgi-title a{
	display: inline-block;
	vertical-align: baseline;
}
.bgi-des{
    padding-bottom: 16px;
}
.bgi-des p{
	line-height: 1.5;
}
.bgi-des p:last-of-type{
	margin-bottom: 0;
}
a.fl-read-more-btn{
	padding-right: 26px;
    position: relative;
    display: inline-block;
    vertical-align: baseline;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.4;
}
a.fl-read-more-btn span{
	display: inline-block;
	vertical-align: baseline;
}
a.fl-read-more-btn i {
    position: absolute;
    width: 12px;
    height: 12px;
    background-size: contain;
    margin-top: -5px;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);

    transition: all .5s;
    -ms-transition: all .5s;
    -webkit-transition: all .5s;
}
a.fl-read-more-btn:hover i{
	right: -5px;
    transition: all .5s;
    -ms-transition: all .5s;
    -webkit-transition: all .5s;	
}
.fl-pagi-blog-cntrl{

}


/* == responsive == */

@media (max-width: 1699px) {
	.blog-page .breadcrumb-sec,
	.gift-card .breadcrumb-sec,
	.archive .breadcrumb-sec{
		margin-bottom: 43px;
	}
	.blog-grid-items ul li{
		padding: 0 12px 86px!important;
	}
	.blog-grid-img{
		height: 290px;
	}
	.blog-grid-des .bgi-title{
		font-size: 20px;
		line-height: 1.35;
		margin-bottom: 10px;
	}
	a.fl-read-more-btn{
		font-size: 15px;
	}
	.coaching-sec .blog-grid-items{
		padding-bottom: 17px;
	}	
}

@media (max-width: 1499px) {
	.blog-grid-items ul{
		margin: 0 -10px!important;
	}
	.blog-grid-items ul li{
		padding: 0 10px 76px!important;
	}
	.blog-grid-img{
		height: 280px;
	}
	.blog-grid-des .bgi-title{
		line-height: 1.45;
		margin-bottom: 8px;
	}
	.coaching-sec .blog-grid-items{
		padding-bottom: 15px;
	}
}

@media (max-width: 1299px) {
	
}

@media (max-width: 1199px) {
	.blog-grid-items ul li{
		padding: 0 10px 70px!important;
	}
	.blog-grid-img{
		height: 270px;
	}
	.coaching-sec .blog-grid-items{
		padding-bottom: 12px;
	}
}

@media (max-width: 991px) {
	.blog-grid-items ul li{
		padding: 0 10px 60px!important;
	}
	.blog-grid-img{
		height: 260px;
	}
	.blog-grid-des .bgi-title{
		font-size: 19px;
	}
	.coaching-sec .blog-grid-items{
		padding-bottom: 10px;
	}
}

@media (max-width: 767px) {
	.blog-grid-items ul{
		margin: 0 -8px!important;
	}
	.blog-grid-items ul li{
		width: 50%!important;
		padding: 0 8px 50px!important;
	}
	.blog-grid-img{
		height: 250px;
	}
	.bgi-des p{
		line-height: 1.6;
	}
	.coaching-sec .blog-grid-items{
		padding-bottom: 8px;
	}
	.coaching-sec .fl-pagination-blog-cntrl{
		display: none;
	}
}

@media (max-width: 639px) {	
	
}

@media (max-width: 575px) {
	.blog-grid-items ul{
		margin: 0!important;
	}
	.blog-grid-items ul li{
		width: 100%!important;
		max-width: 360px;
		padding: 0 0 40px!important;
	}
	.blog-grid-img{
		height: 240px;
	}
	.blog-grid-des .bgi-title{
		font-size: 18px;
		line-height: 1.6;
		margin-bottom: 6px;
	}
	a.fl-read-more-btn{
		font-size: 14px;
	}
	.bgi-des p{
		line-height: 1.7;
	}
	.coaching-sec .blog-grid-items{
		padding-bottom: 6px;
	}
}

@media (max-width: 479px) {

}

@media (max-width: 359px) {

}


