.sec-heading{
	background: #fff;
}
.fgi-title{
	margin-bottom: 23px;
	line-height: 1.3;
	font-weight: 600;
}
.faq-grids-cntlr{
	display: flex;
	flex-wrap: wrap;
	margin: 0 -12px;
	padding-top: 100px;
    padding-bottom: 39px;
}
.faq-grid-item-col{
	width: 50%;
	padding: 0 12px ;
	padding-bottom: 30px;
}
.faq-grid-item{
	background-color: #fff;
	padding: 35px 35px 29px 35px;
	box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.03);
	-ms-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.03);
	-moz-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.03);
	-webkit-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.03);
}
.faq-grid-item .fl-grid-tag{
	padding-bottom: 19px;
}

/*responsive-start*/

@media(max-width: 1699px){


}
@media(max-width: 1499px){


}
@media(max-width: 1299px){

}
@media(max-width: 1199px){
	.faq-grids-cntlr{
		margin: 0 -11px;
		padding-top: 90px;
    	padding-bottom: 31px;
	}
	.faq-grid-item-col{
		padding: 0 11px;
    	padding-bottom: 28px	
	}
	.faq-grid-item{
		padding: 33px 33px 27px 33px;
	}
	.fgi-title{
		margin-bottom: 22px;
		line-height: 1.4;
	}
	.faq-grid-item .fl-grid-tag {
    	padding-bottom: 18px;
	}
}
@media(max-width: 991px){
	.faq-grids-cntlr {
    	margin: 0 -9px;
    	padding-top: 80px;
    	padding-bottom: 26px;
	}
	.faq-grid-item-col{
		padding: 0px 9px;
		padding-bottom: 23px;
	}
	.faq-grid-item{
		padding: 31px 31px 25px 31px;
	}
	.faq-grid-item .fl-grid-tag {
    	padding-bottom: 17px;
	}
	.fgi-title{
		margin-bottom: 21px;
		line-height: 1.5;
	}
}
@media(max-width: 767px){
	.faq-grids-cntlr {
		margin: 0 -8px;
    	padding-top: 70px;
    	padding-bottom: 20px;
	}
	.faq-grid-item-col{
		padding: 0px 8px;
    	padding-bottom: 22px;
	}
	.faq-grid-item{
		padding: 28px 28px 21px 28px;
	}
	.faq-grid-item .fl-grid-tag {
    	padding-bottom: 16px;
	}
	.fgi-title{
		margin-bottom: 19px;
	}
}
@media(max-width: 639px){
	.faq-grid-item-col{
		width: 100%;
		padding-left: 0;
    	padding-right: 0;
	}
	.faq-grid-item{
    	max-width: 350px;
    	width: 100%;
    	margin: 0 auto;
	}
	.faq-grid-item-col{
		margin-bottom: 30px;
	}
}
@media(max-width: 575px){
	.faq-grids-cntlr {
    	padding-top: 50px;
	}
	.fgi-title{
	    margin-bottom: 16px;
		line-height: 1.6;
	}
	.faq-grid-item .fl-grid-tag {
    	padding-bottom: 6px;
	}
}
@media(max-width: 489px){

}
@media(max-width: 359px){
	.faq-grid-item{
		padding: 28px 24px 21px 24px;
	}
}



/*responsive-end*/


