.footer-wrp{
	position: relative;
  
}
.ftr-white-skew{
    border-top: 235px solid #fff;
    border-right: 1920px solid transparent;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin-top: -1px;
}
.ftr-right-angle-line{
    position: absolute;
    top: -26px;
    right: 0;
    z-index: 2;
}
.ftr-right-angle-line i{
    display: inline-block;
}
.ftr-top-wrap{
	padding-top: 190px;
	background: #000;
    padding-bottom: 70px;
}
.ftr-top{
    position: relative;
}
.ftr-round-icon-cntlr{
    position: absolute;
    left: -53px;
    top: -60px;
    z-index: 2;
    width: 108px;
    height: 92px;
}
.ftr-round-sm-icon{
    position: absolute;
    width: 21px;
    height: 21px;
    border: 6px solid #FFA800;
    top: 0;
    left: 0;
    border-radius: 50% 50%;
    background: transparent;
}
.ftr-round-lg-icon{
    position: absolute;
    width: 81px;
    height: 81px;
    border: 20px solid #FFA800;
    bottom: 0;
    right: 0;
    border-radius: 50% 50%;
    background: transparent;
}
.ftr-logo{
	margin-bottom: 40px;
    text-align: center;
}
.ftr-logo a{
	display: inline-block;
}
.client-logo-cntlr{
	padding-bottom: 52px;
	
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 -23px;
}
.client-logo a{
    display: inline-block;
}
.client-logo a img{
    filter: grayscale(100%);
}
.client-logo a img:hover,
.client-logo a:hover img,
.client-logo img:hover{
    filter: grayscale(0%);
    opacity: 1;
}
.client-logo-item{
	padding: 0 23px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.client-logo{
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.client-logo img{
    max-height: 45px;
    width: auto;
}
.breadcrumb-cntlr{
	padding: 18px 0;
	margin-bottom: 42px;
    border-top: 2px solid rgba(255, 255, 255, 0.1);
}
.breadcrumb-cntlr ul {
    display: flex;
    align-items: center;
    margin: 0 -17px;
}
.breadcrumb-cntlr ul li {
    padding: 0 17px;
    position: relative;
}
.breadcrumb-cntlr ul li:after {
    position: absolute;
    content: "";
    right: 0;
    top: 50%;
    transform: translate(50%,-50%);
    -ms-transform: translate(50%,-50%);
    -webkit-transform: translate(50%,-50%);
    -o-transform: translate(50%,-50%);
    height: 12px;
    width:12px;
    background-image: url(../images/arrow-right-icon.svg);
    margin-top: 1px;
    background-size: contain;
}
.breadcrumb-cntlr ul li:last-child:after{
    display: none;
    content: none;
}
.breadcrumb-cntlr ul li a, 
.breadcrumb-cntlr ul li span, 
.breadcrumb-cntlr ul li a span{
    display: inline-block;
    text-transform: uppercase;
    transition: all 0.5s;
    -ms-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    text-decoration: none;
    font-size: 14px;
    line-height: 1;
    letter-spacing: -0.02em;
    color: #4C4C4C;
}
.breadcrumb-cntlr ul li a {
    position: relative;
}
.ftr-top-col-cnlr{
    padding-left: 105px;
    padding-right: 105px;
}
.ftr-top-col{
    width: 100%;
    padding-right: 10px;
    float: left;

}
.ftr-top-col:last-child{
    padding-right: 0;
}
.ftr-top-col-title{
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 38px;
    line-height: 1;
}
.ftr-top-col-1{
    max-width:  37.348%;
}
.ftr-top-col-2{
    max-width:  41.083%;
}
.ftr-top-col-3{
    max-width:  21.569%;
}
.ftr-top-col-menu{

}
.ftr-top-col-menu ul{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.ftr-top-col-menu ul li{
    width: 50%;
    margin-bottom: 24px;
}
.ftr-top-col-menu ul li:nth-child(2n+1){
    padding-right: 10px;
}
.ftr-top-col-menu ul li a{
    font-size: 14px;
    line-height: 1;
    letter-spacing: -0.02em;
    color: #595959;
    display: inline-block;
    text-transform: capitalize;
}
.ftr-top-col-desc{

}
.ftr-top-col-tell{
    margin-bottom: 33px;
}
.ftr-top-col-tell a,
.ftr-top-col-mail a{
    display: inline-block;
    line-height: 1;
    font-size: 14px;
    letter-spacing: -0.02em;
    text-decoration-line: underline;
    color: #FFA800;
}
.ftr-top-col-tell a:hover,
.ftr-top-col-mail a:hover{
    color: #fff;
}
.ftr-top-col-mail{
    margin-bottom: 38px;
}
.ftr-top-col-socials{

}
.ftr-top-col-socials ul{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 -15px;
}
.ftr-top-col-socials ul li{
    padding: 0 15px;
}
.ftr-top-col-socials ul li a,
.ftr-top-col-socials ul li a i{
    display: inline-block;
}
.ftr-top-col-socials ul li a:hover i svg{
    fill: #fff;
}

.ftr-btm-wrap{
    background: #fff;
}
.ftr-btm-cntlr{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 49px 0;
}
.ftr-copyright{
    padding-right: 10px;
}
.ftr-copyright p{
    font-size: 14px;
    line-height: 1;
    margin-bottom: 0;
}
.ftr-btm-menu{
    margin-left: auto;
}
.ftr-btm-menu ul{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 -11px;
}
.ftr-btm-menu ul li{
    position: relative;
    padding: 0 11px;
}
.ftr-btm-menu ul li:after{
    position: absolute;
    content: "";
    right: 0;
    top: 50%;
    transform: translate(50%,-50%);
    -ms-transform: translate(50%,-50%);
    -webkit-transform: translate(50%,-50%);
    -o-transform: translate(50%,-50%);
    height: 2px;
    width: 5px;
    background: #000;
    margin-top: 1px;
}
.ftr-btm-menu ul li:last-child:after{
    content: none;
    display: none;
}
.ftr-btm-menu ul li a{
    display: inline-block;
    line-height: 1;
    font-size: 14px;
    text-transform: capitalize;
    color: #000;
}
.ftr-developed-by{
    margin-left: auto;
}
.ftr-developed-by p{
    margin-bottom: 0;
    line-height: 1;
    font-size: 14px;
}
.ftr-developed-by p a{
    display: inline-block;
    color: #ffa800;
}
.ftr-developed-by p a:hover{
    color: #000;
}
.ftr-btm-menu ul li a:hover,
.ftr-top-col-menu ul li a:hover,
.breadcrumb-cntlr ul li a:hover, 
.breadcrumb-cntlr ul li span:hover, 
.breadcrumb-cntlr ul li a span:hover{
    color: #FFA800;
}
.ftr-top-col-menu ul li a,
.ftr-btm-menu ul li a,
.ftr-top-col-tell a, 
.ftr-top-col-mail a,
.ftr-developed-by p a{
    text-decoration: none;
}

/*responsive*/
@media(max-width: 1599px){
    .ftr-white-skew{
        border-top: 190px solid #fff;
    }
    .ftr-top-wrap{
        padding-top: 134px;
    }
    .ftr-top-col-cnlr{
        padding-left: 70px;
        padding-right: 70px;
    }
    .ftr-top-col-socials ul{
        margin: 0 -10px;
    }
    .ftr-top-col-socials ul li{
        padding: 0 10px;
    }
    .ftr-round-lg-icon{
        width: 70px;
        height: 70px;
        border: 14px solid #FFA800;
    }
    .ftr-btm-cntlr{
        padding: 40px 0;
    }
    .ftr-round-icon-cntlr {
        top: -36px;
        width: 92px;
    }
}
@media(max-width: 1199px){
    .ftr-round-icon-cntlr{
        left: 0;
    }
    .ftr-copyright p,
    .ftr-developed-by p,
    .ftr-btm-menu ul li a{
        font-size: 13px;
    }
    .ftr-top-col-cnlr{
        padding: 0;
    }
    .ftr-top-col-2{
        max-width: 37.083%;
    }
    .ftr-top-col-3 {
        max-width: 25.569%;
    }
    .client-logo-cntlr{
        margin: 0 -10px;
        padding-bottom: 32px;
    }
    .client-logo-item{
        padding: 0 10px;
        margin-bottom: 20px;
    }
    .ftr-round-icon-cntlr{
        top: -28px;
    }
}
@media(max-width: 991px){
    .ftr-btm-cntlr{
        padding: 30px 0;
    }
    .ftr-copyright,
    .ftr-developed-by,
    .ftr-btm-menu{
        padding-right: 0;
        margin-bottom: 35px;
        display: block;
        width: 100%;
        text-align: center;
    }
    .ftr-developed-by{
        margin-bottom: 25px;
    }
    .ftr-btm-menu ul{
        justify-content: center;
    }
    .ftr-top-col-menu ul li:nth-child(2n+1) {
        padding-right: 0;
    }

    .ftr-top-col-menu ul li {
        width: 100%;
        margin-bottom: 15px;
    }
    .ftr-top-col-1 {
        max-width: 35.348%;
    }
    .ftr-top-col-2 {
        max-width: 35.083%;
    }
    .ftr-top-col-3 {
        max-width: 29.569%;
    }
}
@media(max-width: 767px){
    .ftr-round-lg-icon {
        width: 80px;
        height: 80px;
        border: 20px solid #FFA800;
    }
    .client-logo-cntlr{
        margin-bottom: 42px;
        padding-bottom: 30px;
    }
    .ftr-top-col-menu{
        display: none;
    }
    .ftr-top-col-title{
        position: relative;
        padding-right: 22px;
        display: inline-block;
        margin-bottom: 45px;
    }
    .ftr-top-col-title:after{
        content: "";
        position: absolute;
        top: 2px;
        right: 0;
        background-size: contain;
        height: 12px;
        width: 12px;
        background-image: url('../images/down-arrow.svg');
        transition: all 0.5s;
        -ms-transition: all 0.5s;
        -webkit-transition: all 0.5s;
    }
    .ftr-top-col-title.active:after{
        transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        -o-transform: rotate(180deg);
    }
    .ftr-top-col-menu ul li{
        margin-bottom: 25px;
    }
    .ftr-top-col-menu ul li a{
        font-size: 14px;
        font-weight: 400;
        text-transform: capitalize;
    }
    .client-logo-cntlr{
        display: block;
        border-bottom: 0;
        position: relative;
    }
    .client-logo-cntlr:after{
        position: absolute;
        bottom: 0;
        content: "";
        left: 50%;
        transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        width: 31px;
        height: 2px;
        background: rgba(255, 255, 255, 0.1);
    }
    .clientLogoSlider .client-logo-item{
        display: none;
    }
    .clientLogoSlider .client-logo-item:first-child{
        display: block;
    }
    .clientLogoSlider.slick-initialized .client-logo-item{
        display: block;
    }
    .ftr-top-col{
        max-width: 100%;
        display: block;
        text-align: center;
    }
    .ftr-top-col-menu ul li:last-child{
        margin-bottom: 0;
    }
    .ftr-top-col-menu {
        margin-bottom: 45px;
    }
    .ftr-top-col-3{
        padding-top: 43px;
        border-top:  2px solid rgba(255, 255, 255, 0.1);
    }
    .ftr-top-wrap{
        padding-bottom: 10px;
    }
    .ftr-white-skew {
        border-top: 144px solid #fff;
    }

    .ftr-logo a{
        max-width: 180px;
    }
    .ftr-round-sm-icon {
        width: 12px;
        height: 12px;
        border: 3px solid #FFA800;
    }
    .ftr-round-icon-cntlr{
        width: 92px;
        height: 75px;
        top: -52px;
    }
    .ftr-copyright p, .ftr-developed-by p, .ftr-btm-menu ul li a {
        font-size: 14px;
    }
    .ftr-top-col-tell a, 
    .ftr-top-col-mail a{
        text-decoration: underline;
    }
    .ftr-round-icon-cntlr{
        width: 92px;
        height: 92px;
        top: -66px;
    }
    
}
@media(max-width: 479px){
    .ftr-round-icon-cntlr{
        top: -73px;
    }
}
@media(max-width: 359px){
    .ftr-btm-menu ul{
        padding: 0 22px;
    }
}