.footer-wrp{
	position: relative;
}
.ftr-white-skew{
    border-top: 235px solid #fff;
    border-right: 1920px solid transparent;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}
.ftr-right-angle-line{
    position: absolute;
    top: -14px;
    right: 0;
    z-index: 2;
}
.ftr-right-angle-line i{
    display: inline-block;
}
.ftr-top-wrap{
	padding-top: 190px;
	background: #000;
    padding-bottom: 70px;
}
.ftr-top{
    position: relative;
}
.ftr-round-icon-cntlr{
    position: absolute;
    left: -53px;
    top: -30px;
    z-index: 2;
    width: 108px;
    height: 92px;
}
.ftr-round-sm-icon{
    position: absolute;
    width: 21px;
    height: 21px;
    border: 6px solid #FFA800;
    top: 0;
    left: 0;
    border-radius: 50% 50%;
    background: transparent;
}
.ftr-round-lg-icon{
    position: absolute;
    width: 81px;
    height: 81px;
    border: 20px solid #FFA800;
    bottom: 0;
    right: 0;
    border-radius: 50% 50%;
    background: transparent;
}
.ftr-logo{
	margin-bottom: 40px;
    text-align: center;
}
.ftr-logo a{
	display: inline-block;
}
.client-logo-cntlr{
	padding-bottom: 52px;
	border-bottom: 2px solid rgba(255, 255, 255, 0.1);
}
.client-logo-cntlr ul{
	display: flex;
	flex-wrap: flex-wrap;
	justify-content: center;
	margin: 0 -23px;
}
.client-logo-cntlr ul li{
	padding: 0 23px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.client-logo{
	display: flex;
    justify-content: center;
    align-items: center;
}
.breadcrumb-cntlr{
	padding: 18px 0;
	margin-bottom: 42px;
}
.breadcrumb-cntlr ul {
    display: flex;
    align-items: center;
    margin: 0 -17px;
}
.breadcrumb-cntlr ul li {
    padding: 0 17px;
    position: relative;
}
.breadcrumb-cntlr ul li:after {
    position: absolute;
    content: "";
    right: 0;
    top: 50%;
    transform: translate(50%,-50%);
    -ms-transform: translate(50%,-50%);
    -webkit-transform: translate(50%,-50%);
    -o-transform: translate(50%,-50%);
    height: 12px;
    width:12px;
    background-image: url(../images/arrow-right-icon.svg);
    margin-top: 1px;
    background-size: contain;
}
.breadcrumb-cntlr ul li:last-child:after{
    display: none;
    content: none;
}
.breadcrumb-cntlr ul li a, 
.breadcrumb-cntlr ul li span, 
.breadcrumb-cntlr ul li a span{
    display: inline-block;
    text-transform: uppercase;
    transition: all 0.5s;
    -ms-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    text-decoration: none;
    font-size: 14px;
    line-height: 1;
    letter-spacing: -0.02em;
    color: #4C4C4C;
}
.breadcrumb-cntlr ul li a {
    position: relative;
}
.ftr-top-col-cnlr{
    padding-left: 105px;
    padding-right: 105px;
}
.ftr-top-col{
    width: 100%;
    padding-right: 10px;
    float: left;

}
.ftr-top-col:last-child{
    padding-right: 0;
}
.ftr-top-col-title{
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 38px;
    line-height: 1;
}
.ftr-top-col1{
    max-width:  37.348%;
}
.ftr-top-col2{
    max-width:  41.083%;
}
.ftr-top-col3{
    max-width:  21.569%;
}
.ftr-top-col-menu{

}
.ftr-top-col-menu ul{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.ftr-top-col-menu ul li{
    width: 50%;
    margin-bottom: 24px;
}
.ftr-top-col-menu ul li:nth-child(2n+1){
    padding-right: 5px;
}
.ftr-top-col-menu ul li a{
    font-size: 14px;
    line-height: 1;
    letter-spacing: -0.02em;
    color: #595959;
    display: inline-block;
    text-transform: capitalize;
}
.ftr-top-col-desc{

}
.ftr-top-col-tell{
    margin-bottom: 33px;
}
.ftr-top-col-tell a,
.ftr-top-col-mail a{
    display: inline-block;
    line-height: 1;
    font-size: 14px;
    letter-spacing: -0.02em;
    text-decoration-line: underline;
    color: #FFA800;
}
.ftr-top-col-tell a:hover,
.ftr-top-col-mail a:hover{
    color: #fff;
}
.ftr-top-col-mail{
    margin-bottom: 38px;
}
.ftr-top-col-socials{

}
.ftr-top-col-socials ul{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 -15px;
}
.ftr-top-col-socials ul li{
    padding: 0 15px;
}
.ftr-top-col-socials ul li a,
.ftr-top-col-socials ul li a i{
    display: inline-block;
}
.ftr-top-col-socials ul li a:hover i svg{
    fill: #fff;
}
.ftr-top-col-socials ul li:first-child a:hover i svg{
    fill: #FFA800;
}

.ftr-btm-wrap{
    background: #fff;
}
.ftr-btm-cntlr{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 49px 0;
}
.ftr-copyright{
    padding-right: 10px;
}
.ftr-copyright p{
    font-size: 14px;
    line-height: 1;
    margin-bottom: 0;
}
.ftr-btm-menu{
    margin-left: auto;
}
.ftr-btm-menu ul{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 -11px;
}
.ftr-btm-menu ul li{
    position: relative;
    padding: 0 11px;
}
.ftr-btm-menu ul li:after{
    position: absolute;
    content: "";
    right: 0;
    top: 50%;
    transform: translate(50%,-50%);
    -ms-transform: translate(50%,-50%);
    -webkit-transform: translate(50%,-50%);
    -o-transform: translate(50%,-50%);
    height: 2px;
    width: 5px;
    background: #000;
    margin-top: 1px;
}
.ftr-btm-menu ul li:last-child:after{
    content: none;
    display: none;
}
.ftr-btm-menu ul li a{
    display: inline-block;
    line-height: 1;
    font-size: 14px;
    text-transform: capitalize;
    color: #000;
}
.ftr-developed-by{
    margin-left: auto;
}
.ftr-developed-by p{
    margin-bottom: 0;
    line-height: 1;
    font-size: 14px;
}
.ftr-developed-by p a{
    display: inline-block;
    color: #ffa800;
}

.ftr-btm-menu ul li a:hover,
.ftr-top-col-menu ul li a:hover,
.breadcrumb-cntlr ul li a:hover, 
.breadcrumb-cntlr ul li span:hover, 
.breadcrumb-cntlr ul li a span:hover{
    color: #FFA800;
}