
/*home banner*/
.home-banner{
	position: relative;
	background: #000;
	overflow: hidden;
}
.home-banner-cntlr{
	height: 863px;
	position: relative;
	padding-top: 240px;
}
.hm-bnr-skew{
	bottom: 0;
	border-bottom: 235px solid #fff;
    border-left: 1920px solid transparent;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 2;
}
.hm-bnr-bg-cntlr{
	width: 729px;
	position: absolute;
	top: 0;
	right: -282px;
	bottom: -50px;
}
.hm-bnr-circle-bg-cntlr{
	width: 729px;
	height: 729px;
	right: -282px;
	bottom: -50px;

	right: -78px;
	bottom: 0;
	position: absolute;
}
.hm-bnr-person-img{
	position: absolute;
	left: -6px;
    bottom: 75px;
	z-index: 1;
}
.hm-bnr-bg-circle{
	border: 90px solid #FFA800;
	width: 729px;
	height: 729px;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	border-radius: 50% 50%;
}
.hm-bnr-bg-xs-circle{
	border: 10px solid #FFA800;
	border-radius: 50% 50%;
	width: 39px;
	height: 39px;
	position: absolute;
	top: 10px;
	left: 2px;
}

.hm-bnr-desc-hding{
	margin-bottom: 20px;
}
.hm-bnr-desc{
	padding-bottom: 28px;
	position: relative;
	margin-bottom: 38px;
}
.hm-bnr-desc:after{
	position: absolute;
	left: 0;
	bottom: 0;
	width: 66px;
	height: 4px;
	background: rgba(255, 255, 255, 0.1);
	content: "";
}
.home-banner .pg-bnr-desc-line{
	right: 30px;
	bottom: 39px;
}
.hm-bnr-desc p{
	font-size: 18px;
	color: #fff;
}
.hm-bnr-desc p:last-of-type{
	margin-bottom: 0;
}
.hm-bnr-desc-btn-cntlr{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin: 0 -10px;
}
.hm-bnr-desc-btns{
	padding: 0 10px;
}
.hm-bnr-desc-btn{
	font-weight: 700;
	font-size: 16px;
	line-height: 1;
	letter-spacing: -0.02em;
	color: #FFFFFF;
	display: inline-block;
	padding: 12px 65px 12px 48px;
	position: relative;
	border: 3px solid #FFFFFF;
	text-transform: uppercase;
}
.hm-bnr-desc-btn i{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	right: 34px;
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
.hm-bnr-desc-btn:hover i{
	right: 30px;
}
.hm-bnr-desc-btn:hover{
	border-color: #FFA800;
	color: #FFA800;
}

/*responsive*/
@media(max-width: 1799px){
	
}
@media(max-width: 1699px){
	
}
@media(max-width: 1499px){
	
}

@media(max-width: 1199px){
	
}
@media(max-width: 991px){
	
	
}
@media(max-width: 767px){
	
}
@media(max-width: 575px){
	
}