.white-bg{
    background-color: #fff!important;
}
.home-messege{
    padding: 18px 0;
    background: #FFA800;
}

.home-messege-inr{
    text-align: center;
    color: #2C113E;
}
.home-messege-inr p{
    margin-bottom: 0;
    color:#fff;
}
.home-messege-inr p strong{
    display: inline-block;
    vertical-align: baseline;
    margin-right: 10px;
    font-family: 'Work Sans', sans-serif;
    font-weight:700;
}




.plans-grid-slider-item,
.latest-news-grid-slider-item{
	padding:0 12px;
}
.plans-sec-cntlr{
	position: relative;
}
.plans-sec-cntlr .plan-circle-bg {
    position: absolute;
    right: -51px;
    top: 4px;
}
.plans-sec-grids,
.latest-news-sec-grids{
	margin:0 -12px;
}
.plans-sec-grids ul.slick-dots{
    padding-top: 36px!important;
}
.home-testimonial-slider-cntlr .testimonial-grd-item-inr{
	max-width: 850px;
    margin: 0 auto;
    text-align: center;
}
.latest-news-sec{
	padding-top: 120px;
	padding-bottom:120px;
    background-color: #fbfbfb;
    position: relative;
}
.plans-sec{
	padding-bottom:120px;
	padding-top:64px;
    overflow: hidden;
}
.latest-news-sec-cntlr .latest-news-sec-grids ul.slick-dots{
	margin-top:39px;
}
.latest-news-sec-grids,
.plans-sec-grids{
	margin-bottom:47px!important;
}
.latest-news-button,
.plans-button{
	text-align: center;
}
.latest-news-bg{
    position: absolute;
    left: 0;
    top:46px;
}
.plans-grid-item .blog-grid-des{
	text-align: center;
}
.plans-grid-item .fl-pro-grd-price{
    margin-bottom: 27px;
}
.plans-grid-item .bgi-des{
	padding-bottom:35px;
}
.plans-grid-item.blog-grid-item{
	box-shadow:none;
}
.home-slogan-cntlr{
    max-width: 834px;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 50px;
    position: relative;
}
.home-slogan-cntlr p{
    font-size: 26px;
    text-align: center;
    font-weight: 400;
}
.home-slogan-cntlr:after{
    content: "";
    width: 50px;
    height: 2px;
    background: #595959;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
}
.home-testimonial{
    margin-bottom:0!important;
}
.home-testimonial-slider-sec{
    position: relative;
    z-index: 1;
}
/*latest-news*/
.latest-news-grid-item .blog-grid-des{
	padding: 30px 28px 0;
}
.latest-news-grid-item .blog-grid-des .bgi-title{
	margin-bottom:28px;
}
/* .latest-news-grid-item .blog-grid-des .bgi-des{
	padding-bottom:30px;
} */
.latest-nws-circle-bg{
    position: absolute;
    bottom: -33px;
    right: 0;
    z-index: 2;
}
.latest-news-sec .fl-pro-grd-btn{
    bottom: 30px;
}

@media(max-width:1699px){
    .home-slogan-cntlr{
        padding-bottom: 35px;
        max-width: 700px;
    }
    .plans-sec{
        padding-top:55px;
        padding-bottom:90px;
    }
    .home-slogan-cntlr p{
        font-size: 24px;
        line-height: 1.6;
    }
    .latest-news-sec{
        padding-top:90px;
        padding-bottom:90px;
    }
  /*  .latest-news-bg{
        bottom:200px;
    }*/
    
    .latest-news-bg {
        left: -35px;
    }
    .latest-nws-bg {
        width: 450px;
        height: auto;
    }
}
@media(max-width:1499px){
    .latest-news-bg {
        left:-64px;
    }
    .latest-nws-bg{
        width: 420px;
        height: auto;
    }
}
@media(max-width:1199px){
    .home-slogan-cntlr p{
        font-size: 22px;
        line-height: 1.5;
    }
    .plans-grid-item .fl-pro-grd-price{
        margin-bottom: 15px;
    }
    .plans-grid-item .bgi-des {
        padding-bottom: 23px;
    }
    .plans-grid-item .blog-grid-des{
        padding: 25px 10px 33px;
    }
    .plans-sec-grids, 
    .latest-news-sec-grids{
        margin:0 -8px;
    }
    .plans-grid-slider-item, 
    .latest-news-grid-slider-item{
        padding: 0 8px;
    }
    .latest-news-bg{
        left:-95px;
    }
}
@media(max-width:991px){
    .home-slogan-cntlr p{
        line-height: 1.4;
    }
    .home-slogan{
        padding-top: 25px;
    }
    .latest-news-bg{
        left:-150px;
    }
}
@media(max-width:767px){
    .home-testimonial-slider-cntlr{
        padding-bottom: 60px;
    }
    .home-slogan-cntlr p{
        font-size: 20px;
        line-height: 1.35;
    }
    .home-slogan-cntlr{
        padding-left:20px;
        padding-right:20px;
    }
    .plans-sec-cntlr,
    .latest-news-sec-cntlr{
        max-width: 350px;
        width: 100%;
        margin: 0 auto;
    }
    .plans-grid-item .blog-grid-des{
        padding: 30px 10px 44px;
    }
    .plans-grid-item .blog-grid-des .bgi-title{
        margin-bottom:11px;
    }
    .plans-grid-item .fl-pro-grd-price{
        margin-bottom: 10px;
    }
    .plans-grid-item .bgi-des{
        padding-bottom: 27px;
    }
    .plans-sec-grids{
        margin-bottom: 40px!important;
    }
    .plans-sec {
        padding-top: 55px;
        padding-bottom: 60px;
    }
    .latest-news-grid-item .blog-grid-des .bgi-title{
        margin-bottom: 20px;
    }
    .latest-news-grid-item .blog-grid-des .bgi-des{
        padding-bottom: 23px;
    }
    .latest-news-grid-item .blog-grid-des {
        padding: 30px 28px 35px;
    }
    .latest-news-sec-grids{
        margin-bottom: 27px!important;
    }
    .latest-news-sec-cntlr .latest-news-sec-grids ul.slick-dots{
        margin-top: 28px;
    }
    .latest-news-sec{
        padding-top: 57px;
        padding-bottom: 60px;
    }
    .latest-nws-xs-bg{
        top:-14px;
        left:0;
    }
    .latest-news-grid-slider-item .blog-grid-item{
        box-shadow:none;
    }
@media(max-width:575px){
    .home-slogan-cntlr p{
        font-size: 18px;
        line-height: 1.3;
    }
}
@media(max-width:479px){

}

