
.ovo-two-grds-des-module-sec{
	padding-top: 135px;
	padding-bottom: 105px;
}
.ovo-two-grds-des-module-cntlr{
	display: flex;
    flex-wrap: wrap;
}
.ovo-grds-des-lft {
    padding-right: 35px;
    max-width: 40%;
    width: 100%;
}
.ovo-grds-des-rgt {
    padding-left: 35px;
    max-width: 60%;
    width: 100%;
}
.ovo-grds-des-lft p{
	font-style: normal;
	font-weight: 300;
	font-size: 26px;
    line-height: 1.6;
	letter-spacing: -0.02em;
	color: #000000;
}
.ovo-full-width-bg-heading{
	font-size: 80px;
	letter-spacing: -0.02em;
	text-transform: uppercase;
	color: #FFFFFF;
	position: relative;
    z-index: 2;
}
.ovo-grds-des-lft strong {
    display: inline-block;
}
.ovo-full-width-bg-des-heading {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 70px;
}
.ovo-full-width-img-sec{
	position: relative;
    height: 750px;
}
.ovo-full-width-img-fmbl {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.ovo-full-width-bg-heading-inner {
    position: relative;
    display: inline-block;
}
.ovo-full-width-img-sec img{
    display: none;
}
.ovo-abs-round {
    position: absolute;
    overflow: hidden;
    height: 105px;
    width: 105px;
    right: 0;
    top: -62px;
}
.ovo-abs-round-two {
    position: absolute;
    height: 105px;
    width: 105px;
    border-radius: 100%;
    border: 25px solid#fea700;
    right: -30px;
}
.ovo-abs-round-one {
    position: absolute;
    border: 5px solid#fea700;
    height: 16px;
    width: 16px;
    border-radius: 100%;
    right: 85PX;
    top: 8px;
}
.ovo-abs-line-four {
    position: absolute;
    height: 13px;
    width: 120px;
    right: -30px;
    top: 127px;
    transform: rotate(-45deg);
    bottom: 127px;
    background: #fea700;
    z-index: 1;
}
span.ovo-abs-round-three {
    position: absolute;
    border: 6px solid#fea700;
    height: 30px;
    width: 30px;
    border-radius: 100%;
    top: -2px;
    left: -13px;
    z-index: 2;
}
.ovo-abs-img-three{

}
.ovo-full-width-bg-des{
    padding: 145px 0;
}
.block-850{
	max-width: 850px;
	margin: 0 auto;
}
.ovo-full-width-bg-des-cntlr p{
	font-style: italic;
	font-weight: 300;
	font-size: 30px;
	line-height: 1.5;
	letter-spacing: -0.02em;
	color: #000000;
    margin-bottom: 0;
}
.ovo-fancy-vedeo-items-sec{
	padding-bottom: 25px;
    background-color: #fff;
    padding-top: 95px;
}
.fancy-vedeo-items-sec-cntlr {
    border-bottom: 2px solid #EFF4F7;
    padding-bottom: 20px;
}
.fancy-vedeo-items-sec-cntlr  {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
}
.fancy-vedeo-items-sec-cntlr   .fl-fancy-module-col{
    max-width: 50%;
    width: 100%;
    padding-bottom: 75px;
    padding-left: 10px;
    padding-right: 10px;
}
.fl-fancy-inline-bg-img{
	min-height: 450px;
}
.ovo-fancy-module-item-des {
    text-align: center;
    padding: 30px 20px 0;
}
.ovo-fancy-modl-item-para p{
	font-weight: 300;
	letter-spacing: -0.02em;
	color: #000000;
    line-height: 1.7;
}
.ovo-fancy-modl-item-para p:last-of-type{
    margin-bottom: 0;
}
.ovo-fancy-modl-item-para {
    margin-bottom: 40px;
}
.ovo-fancy-module-img{
	position: relative;
	overflow: hidden;
}
.fl-fancy-inline-bg-img{
	transition: all .5s;
	-ms-transition: all .5s;
	-webkit-transition: all .5s;
}
.ovo-fancy-module-img:hover .fl-fancy-inline-bg-img{
	transform: scale(1.1);
}
span.fl-video-play-icon-cntlr{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    line-height: 1;
}
.ovo-testimonial {
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 100px;
}
.ovo-testimonial-slider-sec {
    background: #fff;
    padding-top: 70px;
}
.ovo-testimonial-grd-item-inr{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
}
.ovo-grids-cntlr{
    padding-bottom: 20px!important;
    padding-top: 0!important;
}
.faq-slider-sec-hdr .fssh-title{
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #000000;
    margin-bottom: 35px!important;
}
.faq-slider-sec {
    padding-top: 120px;
    position: relative;
    z-index: 2;
}
.ovo-abs-line-one {
    position: absolute;
    width: 831.36px;
    height: 8px;
    left: -255.15px;
    top: 355px;
    background: #FFA800;
    transform: rotate(-45deg);
}
.ovo-abs-line-two {
    position: absolute;
    width: 395.43px;
    height: 70px;
    left: -145.46px;
    top: 505px;
    background: #FFA800;
    transform: rotate(-45deg);
}
.ovo-abs-line-three {
    position: absolute;
    width: 301.3px;
    height: 7px;
    left: -142.32px;
    top: 642px;
    background: #FFA800;
    transform: rotate(-45deg);
}
.ovo-grid-item-col{
    padding-bottom: 40px!important;
}
.ovo-fancy-module-item-des  .ofmi-heading a{
    text-decoration: none;
}
.ovo-grid-item-col .faq-grid-item a{
    text-decoration: none;
}
.ovo-full-width-img-dp{
    display: none;
}
.fl-fancy-inline-bg-img img{
    display: none;
}
.ovoTestimonialSlider.slick-slider{
    margin-bottom: 0;
}
.hide{
    display: none!important;
}
/*.instead-fancy-to-img-slider-inner{
    display: none;!important;
}
.instead-fancy-to-img-slider-cntlr .instead-fancy-to-img-slider-inner{
    display: none!important;
}*/
.have-no-fancy a{
    display: none!important;
}
.have-no-fancy span.fl-video-play-icon-cntlr{
    display: none!important;
}
.ovo-cta-mobile {
    background: #fff;
    padding-top: 30px;
}


/* faq slider  */
.faq-slider-sec .faq-grids-cntlr{
    padding-top: 0;
    padding-bottom: 0;
}
.faq-slider-sec .faq-grids-cntlr .faq-grid-item-col{
    padding-bottom: 40px;
}

.faq-grid-item a{
    text-decoration: none;
}
.faq-slider-desktop .slick-dotted.slick-slider{
    margin-bottom: 0;
}

.ovo-faq-slider-addcls .faq-slide-item .faq-grids-cntlr{
    display: flex;
    margin: initial;
}
.ovo-faq-slider-addcls .faq-slide-item .faq-grids-cntlr .faq-grid-item-col{
    width: 100%;
    padding-bottom: 40px;
}






@media (max-width: 1699px){
    .ovo-grds-des-lft p{
        font-size: 25px;
        line-height: 1.5;
    }
    .ovo-grds-des-lft{
        padding-right: 20px;
    }
    .ovo-grds-des-rgt{
        padding-left: 55px;
    }
    .ovo-full-width-bg-des {
        padding: 130px 0;
    }
    .ovo-full-width-bg-des-cntlr p {
        font-size: 29px;
        line-height: 1.4;
    }
    .fl-fancy-inline-bg-img {
        min-height: 420px;
    }
    .ovo-fancy-modl-item-para {
        margin-bottom: 30px;
    }
    .ofmi-heading {
        margin-bottom: 15px;
    }
    .faq-slider-sec{
        padding-top: 110px;
    }
    .ovo-abs-line-one {
        left: -350.15px;
        top: 355px;
    }
    .ovo-abs-line-two{
        left: -187.46px;
        top: 448px;
    }
    .ovo-abs-line-three{
        left: -178.32px;
        top: 576px;
    }
    .ovo-testimonial-grd-item-inr {
        max-width: 800px;
        margin: 0 auto;
        text-align: center;
    }
    .ovo-grid-item-col {
        padding-bottom: 30px!important;
    }
    .ovo-two-grds-des-module-sec {
        padding-top: 120px;
        padding-bottom: 90px;
    }
    .ovo-full-width-img-sec {
        height: 700px;
    }
    .fancy-vedeo-items-sec-cntlr{
        padding-bottom: 10px;
    }
    .ovo-abs-round-two {
        height: 95px;
        width: 95px;
        border: 23px solid#fea700;
    }
    .ovo-abs-round{
        top: -55px;
    }
    .ovo-abs-round-one {
        right: 75PX;
        top: 5px;
    }
    .ovo-fancy-module-item-des {
        padding: 25px 20px 0;
    }
    .fancy-vedeo-items-sec-cntlr  .fl-fancy-module-col{
        padding-bottom: 65px;
    }
    span.fl-video-play-icon-cntlr i svg {
        height: 65px;
        width: 65px;
    }
    .faq-slider-sec .faq-grids-cntlr .faq-grid-item-col {
        /*padding-bottom: 35px;*/
    }
    span.ovo-abs-round-three{
        top: -5px;
        left: -15px;
    }
    .ovo-fancy-vedeo-items-sec {
        padding-top: 85px;
    }
    .ovo-testimonial{
        padding-bottom: 90px;
    }


}

@media (max-width: 1499px) {
    .ovo-grds-des-lft p {
        font-size: 24px;
        line-height: 1.4;
    }
    .ovo-grds-text-module p{
        line-height: 1.6;
        margin-bottom: 10px;
    }
    .ovo-full-width-img-sec {
        height:650px;
    }
    .ovo-full-width-bg-des {
        padding: 115px 0;
    }
    .ovo-full-width-bg-des-cntlr p {
        line-height: 1.3;
        font-size: 28px;
    }
    .fl-fancy-inline-bg-img {
        min-height: 380px;
    }
    .ofmi-heading {
        margin-bottom: 10px;
    }
    .ovo-fancy-modl-item-para {
        margin-bottom: 20px;
    }
    .faq-slider-sec {
        padding-top: 100px;
    }
    .ovo-testimonial-grd-item-inr {
        max-width: 750px;
        margin: 0 auto;
        text-align: center;
    }
    .ovo-abs-line-one {
        left: -481.15px;
        top: 319px;
    }
    .ovo-abs-line-two {
        left: -276.46px;
        top: 383px;
    }
    .ovo-abs-line-two {
        left: -255.46px;
        top: 353px;
        width: 395px;
    }
    .ovo-abs-line-three {
        left: -216.32px;
        top: 452px;
    }
    .ovo-two-grds-des-module-sec {
        padding-top: 110px;
    }
    span.fl-video-play-icon-cntlr i svg{
        height: 60px;
        width: 60px;
    }
    .ovo-abs-line-four {
        top: 106px;
        width: 110px;
    }
    .ovo-abs-round {
        top: -50px;
    }
    .ovo-abs-round-two {
        height: 85px;
        width: 85px;
        border: 21px solid#fea700;
    }
    .ovo-fancy-vedeo-items-sec {
        padding-top: 75px;
    }
    .ovo-fancy-modl-item-para p{
        font-size: 14px;
        line-height: 1.5;
    }
    .ovo-fancy-module-item-des {
        padding: 20px 20px 0;
    }
    .ovo-testimonial-grd-item-des{
        max-width: 700px;
    }
    .fancy-vedeo-items-sec-cntlr  .fl-fancy-module-col {
        padding-bottom: 55px;
    }
    .ovo-fancy-modl-item-para {
        margin-bottom: 15px;
    }
    .ovo-testimonial{
        padding-bottom: 80px;
    }

}

@media(max-width: 1299px){

}
@media(max-width: 1199px){
    .ovo-grds-des-lft p {
        font-size: 21px;
        line-height: 1.3;
    }
    .ovo-grds-des-rgt {
        padding-left: 40px;
    }
    .ovo-grds-text-module p {
        line-height: 1.5;
        margin-bottom: 8px;
    }
    .ovo-full-width-img-sec {
        height: 600px;
    }
    .ovo-full-width-bg-des-cntlr p {
        font-size: 26px;
    }
    .fl-fancy-inline-bg-img {
        min-height: 340px;
    }
    .ovo-fancy-module-item-des {
        padding: 20px 20px 0 20px;
    }
    .fl-fancy-module.ovo-fancy-module {
        height: inherit;
    }
    .ovo-grid-item-col {
        padding-bottom: 25px!important;
    }
     span.fl-video-play-icon-cntlr i svg{
        height: 50px;
        width: 50px;
    }
    .ovo-abs-round-two {
        height: 81px;
        width: 81px;
        border: 21px solid#fea700;
        right: -30px;
    }
    .ovo-abs-round-one {
        border: 4px solid#fea700;
        right: 64PX;
        top: 3px;
    }
    .ovo-abs-round{
        top: -40px;
    }
    .ovo-abs-round-one {
        border: 3px solid#fea700;
        right: 64PX;
        top: 1px;
        height: 12px;
        width: 12px;
    }
    .ovo-abs-line-four {
        width: 100px;
        top: 90px;
    }
    .ovo-two-grds-des-module-sec {
        padding-top: 100px;
        padding-bottom: 80px;
    }
    .ovo-full-width-bg-des {
        padding: 100px 0;
    }
    .ovo-fancy-vedeo-items-sec {
        padding-top: 65px;
    }
    .ovo-testimonial-slider-sec {
        padding-top: 60px;
    }
    .ovo-testimonial {
        padding-bottom: 70px;
    }
    .faq-slider-sec {
        padding-top: 90px;
    }
    .ovo-faq-slider-addcls .faq-slide-item .faq-grids-cntlr .faq-grid-item-col {
        padding-bottom: 35px;
    }
    .ovo-fgi-title{
        font-size: 20px!important;
    }




}
@media(max-width: 991px){
    .ovo-two-grds-des-module-sec {
        padding-top: 70px;
        padding-bottom: 60px;
    }
    .ovo-grds-des-lft p {
        font-size: 20px;
    }
    .ovo-full-width-img-sec {
        height: 550px;
    }
    .ovo-full-width-bg-des {
        /*padding-bottom: 25px;*/
    }
    .ovo-full-width-bg-des-cntlr p {
        font-size: 22px;
        line-height: 31px;
    }
    .fl-fancy-inline-bg-img {
        min-height: 300px;
    }
    .ovo-abs-round{
        top: -39px;
    }
    .ovo-testimonial {
        padding-bottom: 60px;
    }
    .faq-slider-sec-hdr .fssh-title{
        /*margin-bottom: 30px!important;*/
    }
    .ovo-fgi-title{
        font-size: 19px!important;
    }
    .ovo-full-width-bg-des {
        padding: 80px 0;
    }
    .ovo-fancy-vedeo-items-sec {
        padding-top: 55px;
    }
    .ovo-testimonial-slider-sec {
        padding-top: 50px;
    }




}
@media(max-width: 767px){
    .ovo-two-grds-des-module-sec {
        padding-top: 40px;
        padding-bottom: 35px;
    }
    .ovo-grds-des-lft, .ovo-grds-des-rgt{
        max-width: 100%;
    }
    .ovo-full-width-img-sec {
        height: 420px;
    }
    .ovo-full-width-bg-des-cntlr p {
        font-size: 20px;
        line-height: 27px;
    }
    .ovo-grds-des-rgt {
        padding-left: 0;
    }
    .ovo-grids-cntlr{
       justify-content: center;
    }
    .ovo-full-width-img-sec img{
        display: block;
    }
    .ovo-abs-round-three, .ovo-abs-line-four{
        display: none;
    }
    .ovo-grds-des-lft {
        padding-right: 0;
    }
    .ovo-grds-des-lft p {
        font-size: 18px;
    }
    .ovo-abs-line-one {
        width: 831.36px;
        height: 6px;
        left: -532px;
        top: 372px;
        transform: rotate(-60deg);
    }
    .ovo-abs-line-two {
        transform: rotate(-60deg);
        top: 327px;
        left: -200px;
    }
    .ovo-abs-line-three {
        left: -216.32px;
        top: 561px;
        transform: rotate(-60deg);
        height: 6px;
    }
    .instead-fancy-to-img-slider-cntlr .instead-fancy-to-img-slider-inner{
        display: block!important;
    }
    .faq-slider-sec .faq-grids-cntlr {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .ovo-testimonial {
        padding-bottom: 55px;
    }
    .ovo-fgi-title{
        font-size: 18px!important;
    }
    .faq-slider-sec-hdr .fssh-title{
        font-size: 24px!important;
    }
    .ovo-testimonial-grd-item-des blockquote{
        padding: 0 20px;
    }
    .ovo-full-width-bg-des {
        padding: 55px 0;
    }
    .ovo-fancy-vedeo-items-sec {
        padding-top: 35px;
    }
    .ovo-fancy-module-inr {
        max-width: 400px;
        margin: 0 auto;
    }




}
@media(max-width: 575px){
    .ovo-full-width-img-sec {
        height: 240px;
    }
    .ovo-grids-cntlr .ovo-grid-item-col{
     o  width: 100%;
    }



}
@media(max-width: 479px){
    .ovo-full-width-bg-des-cntlr  {
        padding: 0;
    }
    .ovo-full-width-bg-des-cntlr p {
        font-size: 18px;
        line-height: 25px;
    }
    .fl-fancy-inline-bg-img {
        min-height: 240px;
    }

}
@media(max-width: 359px){
    .ovo-grds-text-module p {
        line-height: 1.8;
        margin-bottom: 10px;
    }
    .ovo-full-width-img-sec {
        height: 240px;
    }
    .ovo-grid-item-col .faq-grid-item {
        padding: 28px 16px 21px 15px;
    }
    



}

