.slick-slider ul.slick-dots{
	position: static;
	line-height: 0;
	padding: 0 20px!important;
}
.slick-slider .slick-dots li{
	width: 47px!important;
	height: 3px!important;
	position: static;
	background: #595959!important;
	margin: 0 6px;
	padding: 0!important;
}
.slick-slider .slick-dots li.slick-active{
	background: #FFA800!important;
	height:5px;
}
.slick-slider .slick-dots li:before,
.slick-slider .slick-dots li button:before{
	content: none!important;
}
.slick-slider .slick-dots li button{
	padding: 0;
	width: 47px;
	height: 3px;
}
.slick-slider .slick-dots li.slick-active button{
	height: 5px;
}


.sitemap{
	padding: 50px 0 70px;
}

.sitemap ol li a{
	color: #FF674D;
}
.sitemap ol li{
	padding-left: 25px;
}

.sitemap ol li a:focus{
	text-decoration: underline;
}