/* == sec-heading design start == */
.archive  .wc-template-crtl{
    margin-top: 0!important;
}
.archive .fl-secrh form button:hover svg{
    fill: #FFA800!important;
}
.sec-hdr-cntrl{
    display: flex;
    align-items: flex-end;
}
.sec-hdr-lft{
    padding-right: 20px;
}
.sec-hdr-lft, .sec-hdr-rgt{
    width: 50%;
}
.sec-hdr-cntrl .fl-secrh form input{
    padding: 13px 44px 11px 16px;
    border-radius: 3px;
}
.sec-hdr-cntrl .fl-secrh form input::placeholder {
    font-weight: 300;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.02em;
    color: #9B9B9B;
}
.sec-hdr-cntrl .fl-secrh form input:-ms-input-placeholder {
    font-size: 16px;
    color: #9B9B9B;
    opacity: 1;
}

.sec-hdr-cntrl .fl-secrh form input::-ms-input-placeholder {
    font-size: 16px;
    color: #9B9B9B;
    opacity: 1;
}
.archive .fl-secrh form button{
    margin-top: -1px;
}
/* == sec-heading design end== */

/* == product-page design start == */
.product-page{
    background-color: rgba(231, 234, 236, 0.2);
    padding-top: 100px;
    padding-bottom: 16px;
}
.fl-products-cntlr ul.products{
    display: flex!important;
    margin: 0 -12px!important;
    flex-wrap: wrap!important;    
}
.fl-products-cntlr > ul.products > li{
    width: 33.3333%!important;
    padding: 0 12px 48px!important;
    margin: 0!important;
}
.fl-pro-tag{
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 2;
}
.fl-pro-tag span{
    background-color: #FFA800;
    color: #fff;
    text-align: center;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 13px;
    line-height: 1.9;
    min-width: 100px;
    padding: 11px 10px 10px;
    display: inline-block;
    vertical-align: baseline;
}
.fl-product-grd {
    background: #fff;
    position: relative;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.03);
    -ms-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.03);
    -webkit-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.03);
}
.fl-pro-grd-img-cntlr {
    position: relative;
    height: 294px;
    width: auto;
    overflow: hidden;
}
.fl-pro-grid-img{
    height: 100%;
    width: auto;
    transition: all .5s;
    -ms-transition: all .5s;
    -webkit-transition: all .5s;
}
.fl-pro-grd-img-cntlr img{
    height: 100%;
    width: auto;
    display: none;
}
.fl-product-grd-inr:hover .fl-pro-grd-img-cntlr .fl-pro-grid-img{
    transform: scale(1.1);
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    transition: all .5s;
    -ms-transition: all .5s;
    -webkit-transition: all .5s;
}
.fl-pro-grd-des {
    padding: 25px 23px 35px;
    position: relative;
}
.fl-pro-grd-des-inner{
    padding-bottom: 21px;
    height: 100%;
    position: relative;
}
.fl-pro-grd-title{
    font-weight: 600;
    line-height: 1.3;
    padding-bottom: 6px;
    margin-bottom: 0;
}
.fl-product-grd .fl-pro-grd-des .fl-pro-grd-price{
    padding-bottom: 5px;
}
/* == price design == */
span.amount bdi, span.amount bdi span.woocommerce-Price-currencySymbol, 
ins span.amount bdi, ins span.amount bdi span.woocommerce-Price-currencySymbol,
del span.amount bdi, del span.amount bdi span.woocommerce-Price-currencySymbol {
    font-weight: 300;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: -0.02em;
}
del span.amount bdi, del span.amount bdi span.woocommerce-Price-currencySymbol{
    color: #B0B0B0;
    position: relative;
}
del span.amount{
    margin-right: 6px;
}
del span.amount bdi:after{
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    background-color: #B0B0B0;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}
.single-product span.amount{
    display: inline-block;
    vertical-align: baseline;
}
/* == price design end */
.fl-pro-grd-details {
    padding-bottom: 14px;
}
.fl-pro-grd-des-1 p {
    line-height: 1.9;
}
.fl-pro-grd-des-1 p:last-of-type{
    margin-bottom: 0;
}
.fl-pro-grd-des-2 > ul{
    margin-bottom: 0!important;
    padding-top: 20px!important;
    border-top: 2px solid #eff4f7;
    margin-top: 20px!important;
    padding-left: 16px!important;
}
.product-page .fl-pro-grd-btn{
    left: 0;
    bottom: 0;
}
.fl-buy-now-btn{
    width: 100%;
}
.fl-product-grd form button[type="submit"]{
    margin-top: 0!important;
}
/* == product-page design end == */

body.post-type-archive-product.sky-btm-bg-cntlr .footer-wrp .ftr-white-skew {
    border-top-color: #f6f7f8;
}

/* == responsive == */

@media (max-width: 1699px) {
    .product-page{
        padding-top: 90px;
    }
    .fl-pro-tag span{
        font-size: 12px;
        line-height: 2;
        min-width: 90px;
        padding: 7px 10px 6px;
    }
    span.amount bdi, span.amount bdi span.woocommerce-Price-currencySymbol, 
    ins span.amount bdi, ins span.amount bdi span.woocommerce-Price-currencySymbol, 
    del span.amount bdi, del span.amount bdi span.woocommerce-Price-currencySymbol{
        font-size: 19px;
        line-height: 1.57;
    }
}

@media (max-width: 1499px) {
    .product-page{
        padding-top: 80px;
    }
    .fl-pro-tag span{
        min-width: 80px;
    }
    .fl-products-cntlr > ul.products{
        margin: 0 -10px!important;
    }
    .fl-products-cntlr > ul.products > li{
        padding: 0 10px 48px!important;
    }
    .fl-pro-grd-des .fl-pro-grd-title{
        line-height: 1.36;
    }
}

@media (max-width: 1199px) {
    .product-page{
        padding-top: 70px;
    }
    .fl-pro-tag span{
        min-width: 70px;
        font-size: 11px;
        line-height: 2.1;
        padding: 6px 10px 5px;
    }
    .fl-pro-grd-des .fl-pro-grd-title{
        line-height: 1.4;
    }
}

@media (max-width: 991px) {
    .product-page{
        padding-top: 60px;
    }
    .fl-pro-grd-des {
        padding: 25px 20px 35px;
    }
    .fl-product-grd .fl-pro-grd-title{
        font-size: 18px;
        line-height: 1.6;
    }
    .fl-black-btn{
        min-width: 222px;
    }
}

@media (max-width: 767px) {
    .product-page{
        padding-top: 50px;
    }
    .sec-hdr-cntrl{
        display: block;
    }
    .sec-hdr-lft{
        padding-right: 0;
    }
    .sec-hdr-lft, .sec-hdr-rgt{
        width: 100%;
    }
    .sec-hdr-rgt{
        display: none;
    }
    .fl-products-cntlr > ul.products{
        margin: 0 -8px!important;
    }
    .fl-products-cntlr > ul.products > li{
        width: 50%!important;
        padding: 0 8px 48px!important;
    }  
}

@media (max-width: 575px) {
     .product-page{
        padding-top: 48px;
    }
     .fl-pro-tag span{
        min-width: 65px;
        font-size: 10px;
        line-height: 2.4;
        padding: 3px 10px 2px;
    }
    .fl-products-cntlr > ul.products{
        margin: 0!important;
    }
    .fl-products-cntlr > ul.products > li{
        width: 100%!important;
        padding: 0 0 48px!important;
        max-width: 360px;
        margin: 0 auto!important;
    }
    .fl-pro-grd-des{
        padding: 25px 23px 35px;
    }
    span.amount bdi, span.amount bdi span.woocommerce-Price-currencySymbol, 
    ins span.amount bdi, ins span.amount bdi span.woocommerce-Price-currencySymbol, 
    del span.amount bdi, del span.amount bdi span.woocommerce-Price-currencySymbol {
        font-size: 18px;
        line-height: 1.6;
    }    
}

@media (max-width: 479px) {
    
}

@media (max-width: 375px) {
    
}