



.ref-ov-page-grid-item-cntlr{
	padding-bottom: 35px;
}
.ref-ov-page-grid-item-cntlr ul{
	display: flex;
	flex-wrap: wrap;
	margin-left: -12px;
	margin-right: -12px;

}
.ref-ov-page-grid-item-cntlr ul li{
	width: 50%;
	text-align: center;
	padding-left: 12px;
	padding-right: 12px;
	padding-bottom: 125px;
}
 .ref-ov-grd-title{
 	margin-bottom: 38px;
 }
.ref-ov-page-grid-item > i{
	border-radius: 50% 50%;
	display: inline-block;
	vertical-align: baseline;
	padding-bottom: 45px;
}
.ropgd{
	padding-bottom: 1px;
}
.ref-ov-page-grid-item p{
	margin-bottom: 57px;
	font-weight: 300;
	font-style: italic;
	line-height: 36px;
	/*letter-spacing: -2em;*/
	font-size: 24px;
}
/*.ref-ov-page-grid-item p:last-of-type{
	margin-bottom: 0;
}
*/
