.ref-ov-page-entry-hdr-sec{
	background: #fbfbfb;
}
.ref-ov-page-entry-hdr-sec .page-entry-header{
	padding-bottom: 38px;
	border: initial;
	margin-bottom: 0;
}
.ref-ov-page-entry-hdr-sec .page-entry-header h1{
	padding-right: 65px;
    padding-top: 8px;

}

.ref-ov-page-cntnt-sec{
	padding-top: 49px;
}
.ref-ov-page-cntnt-sec .fl-grid-category{
	padding-bottom: 72px;
}
.ref-ov-page-grid-item-cntlr{
	padding-bottom: 30px;
}
.ref-ov-page-grid-item-cntlr ul{
	display: flex;
	flex-wrap: wrap;
	margin-left: -12px;
	margin-right: -12px;

}
.ref-ov-page-grid-item-cntlr ul li{
	width: 50%;
	text-align: center;
	padding-left: 12px;
	padding-right: 12px;
	padding-bottom: 123px;
}
 .ref-ov-grd-title{
 	margin-bottom: 34px;
 }
.ref-ov-page-grid-item > i{
	border-radius: 50% 50%;
	display: table;
	vertical-align: baseline;
	margin-bottom: 44px;
	margin-left: auto;
	margin-right: auto;
	height: 120px;
	width: 120px;
}
.ref-ov-page-grid-item > i img{
	width: 100%;
	height: 100%;
}
.ropgd{
	padding-bottom: 22px;
}
.ref-ov-page-grid-item p{
	margin-bottom: 22px;
	font-weight: 300;
	font-style: italic;
	line-height: 1.5s;
	letter-spacing: -0.02em;
	font-size: 24px;
}

