.thank-you-bnnr-cntlr .bnr-bg-overly-module{
    margin-bottom: 83px;
}
.thank-you-entry-header h1{
    line-height: 1;
    text-align: center;
    margin-bottom: 12px;
}
.thank-you-sub-heading{
    text-align: center;
    margin-bottom: 48px;
}
.thank-you-sub-heading .dfp-promo-module-des p{
    margin-bottom: 0!important;
}
.thank-you-des {
    max-width: 740px;
    width: 100%;
    margin: auto;
    padding: 39px 0;
}
.thank-you-des p{
    font-weight: 300;
    font-size: 16px;
    line-height: 1.8;
    text-align: center;
    margin: 0;
}
.thank-you-btn {
    text-align: center;
}
.thank-you-des-cntlr {
    border-top: 2px solid #EFF4F7;
}
.thank-you-page-content .bnr-bg-overly-module{
    margin-bottom: 0;
}
.thank-you-page-content {
    position: relative;
    z-index: 99;
}
.thank-you-bnnr-cntlr .bnr-bg-560 .bnr-bg-overly{
    height: 570px;
}