/**
All heading
*/
h1,h2,h3,h4,h5,h6{
	line-height: 1;
	margin-top: 0;
	margin-bottom: 20px;
	font-weight:700;
}
h1,.fl-h1{
	font-size: 60px;
}
h2,.fl-h2{
	font-size: 40px;
}
h3,.fl-h3{
	font-size: 32px;
}
h4,.fl-h4{
	font-size: 24px;
}
h5,.fl-h5{
	font-size: 16px;
}
h6,.fl-h6{
	font-size: 15px;
}
article.default-page-con h1,article.default-page-con .fl-h1,
article.default-page-con h2,article.default-page-con .fl-h2,
article.default-page-con h3,article.default-page-con .fl-h3{
	text-transform: uppercase;
}

