/* -----------------wc-all-buttom-design ---------------------- */
.woocommerce .checkout-button.button,
.woocommerce #respond input#submit, 
.woocommerce a.button, 
.woocommerce button.button, 
.woocommerce input.button,
.woocommerce button[type=submit],
.woocommerce-orders .orders-crtl .contact-info a.order-contact-btn,
body.woocommerce-checkout .custom-checkout-order-review .ywgc_enter_code .form-row-last button[type=submit]{
	background: #000000!important;
    text-transform: uppercase;
    border: 2px solid #000000!important;
    color: #fff!important;
    font-size: 16px!important;
    font-weight: 500;
    text-align: center;
    min-width: 220px;
    padding: 14px 15px;
    letter-spacing: -0.02em;
    font-family: 'Poppins', sans-serif;
    border-radius:0!important;
    cursor:pointer;
    margin-right: 0!important;
}

.woocommerce .checkout-button.button:hover,
.woocommerce #respond input#submit:hover, 
.woocommerce a.button:hover, 
.woocommerce button.button:hover, 
.woocommerce input.button:hover,
body.woocommerce-account .register-btn button[type="submit"]:hover,
body.woocommerce-orders .orders-crtl .contact-info a.order-contact-btn:hover,
body.woocommerce-checkout .custom-checkout-order-review button.button.alt:hover,
body.woocommerce-checkout .payment-method-crtl .custom-checkout-btn button[type=submit]:hover,
body.woocommerce-checkout .custom-checkout-order-review .ywgc_enter_code .form-row-last button[type=submit]:hover,
body.woocommerce-cart .cart_totals .wc-proceed-to-checkout a.checkout-button:hover,
body.woocommerce-cart .cart_totals .wc-proceed-to-checkout .woocommerce-coupon-form .coupon button:hover,
body.woocommerce-cart .product-quantity .quantity.qty1 span:hover,
.xoo-cp-content .xoo-cp-pdetails-row .xoo-cp-pdetails-col-2 .product-order-btn a:hover,
.popup-bottom-btn a:hover,
.cart-btn-qty .quantity.qty span.plus:hover,
.cart-btn-qty .quantity.qty span:hover,
.contact-form-wrp .wpforms-field-pagebreak .wpforms-clear button:hover{
	background-color: transparent!important;
	color:#000!important;
	border-color:#000000!important;
	background-position: center center;
    background-repeat: no-repeat;
}
.fl-product-grd-inr a.prdt-btn:hover{
	color:#D9534F!important;
}
body.single-product .pro-cart-btn button:hover svg{
	fill: #F3BF00!important;
}

/*  -------------------------- All Wc label Design ------------------------------- */
.woocommerce form .form-row label,
body.woocommerce-checkout .woocommerce-shipping-fields .woocommerce-form__label{
    line-height: 1.4;
    font-size: 16px;
    margin-bottom: 8px;
    font-weight: 600;
    color: #000000;
    letter-spacing: normal;
}
/*.woocommerce #respond input#submit, 
.woocommerce a.button, 
.woocommerce button.button, 
.woocommerce input.button{
	background: #3f3f3f;
	color: #fff;
	transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	margin-left: 10px;
}
.woocommerce #respond input#submit:hover, 
.woocommerce a.button:hover, 
.woocommerce button.button:hover, 
.woocommerce input.button:hover{
    background: #e75423;
    color: #fff;
}*/





/*#wccart-wrapper #respond input#submit.alt, 
#wccart-wrapper a.button.alt, 
#wccart-wrapper button.button.alt, 
#wccart-wrapper input.button.alt,
#wccart-wrapper .coupon .button,
.woocommerce table.cart td.actions .button{
	background: #3f3f3f!important;
	color: #fff!important;
	text-align: center;
	font-size: 14px;
	line-height: 16px;
	text-align: center;
	text-transform: uppercase;
}*/
/*#wccart-wrapper #respond input#submit.alt:hover, 
#wccart-wrapper a.button.alt:hover, 
#wccart-wrapper button.button.alt:hover, 
#wccart-wrapper input.button.alt:hover,
#wccart-wrapper .coupon .button:hover,
.woocommerce table.cart td.actions .button:hover{
	background: #3f3f3f!important;
}*/
#wccart-wrapper .coupon button.button,
.woocommerce table.cart td.actions .button{
	font-size: 14px;
	line-height: 16px;
	text-align: center;
	text-transform: uppercase;
	min-height: 52px;
	min-width: 180px;
}
.woocommerce-error{
	border-top-color: #EE3E15;
}
#shipping_method li:after,
.woo-variation-swatches-stylesheet-enabled .variable-items-wrapper li:after{
	content: none;
}
.xoo-cp-btns a.xoo-cp-btn-ch{
	display: none!important;
}
#wccart-wrapper #coupon_code{
	min-height: 52px;
	width: 180px;
	margin-right: 20px;
	border: 2px solid #7B8CA8;
	text-align: center;
	font-size: 14px;
	line-height: 16px;
	text-align: center;
	text-transform: uppercase;
	color: #7B8CA8!important;

}


input#coupon_code::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #7B8CA8!important;
}
input#coupon_code::-moz-placeholder { /* Firefox 19+ */
  color: #7B8CA8!important;
}
input#coupon_code:-ms-input-placeholder { /* IE 10+ */
  color: #7B8CA8!important;
}
input#coupon_code:-moz-placeholder { /* Firefox 18- */
  color: #7B8CA8!important;
}

.xoo-cp-container{
	max-width: 672px;
	background: #F4F7F9;
	box-shadow: 0px 0px 26px rgba(67, 88, 123, 0.07);
	-ms-box-shadow: 0px 0px 26px rgba(67, 88, 123, 0.07);
	-webkit-box-shadow: 0px 0px 26px rgba(67, 88, 123, 0.07);
}
.xoo-cp-pdetails td.xoo-cp-ptitle{
	padding-bottom: 30px;
}
table.xoo-cp-pdetails{
	padding-bottom: 10px;
}
.xoo-cp-modal .xoo-cp-btns,
.xoo-cp-modal .xoo-cp-pdetails  .xoo-cp-ptitle{
	padding-left: 100px!important;
	padding-right: 100px!important;
}
.xoo-cp-modal .xoo-cp-variations .variation dt{
	font-weight: 400;
	color: #7B8CA8;
	font-size: 16px;
	line-height: 16px;
}
.xoo-cp-atcn.xoo-cp-success{
	overflow: hidden;
	padding-left: 15px;
	padding-right: 15px;
}
a.xcp-btn.xoo-cp-close:hover{
	background: #e53d05;
}
a.xoo-cp-btn-vc.xcp-btn:hover{
	opacity: .7;
}
.woocommerce-message,
.woocommerce-info {
    border-top-color: #D61D1D;
    background-color: #D61D1D;
}
.woocommerce-message::before,
.woocommerce-info::before{
	color: #3f3f3f;
}
.cartpopup-variations .xoo-cp-variations .variation:last-of-type,
.cartpopup-variations .xoo-cp-variations .variation dd{
	display: block;
}

.woocommerce-notice.woocommerce-notice--success.woocommerce-thankyou-order-received {
    color: #F3BF00;
    font-size: 26px;
    margin-bottom: 40px;
}
p.woocommerce-customer-details--phone,
p.woocommerce-customer-details--email{
	padding-bottom: 0;
	padding-top: 5px;
	position: relative;
}
.woocommerce .woocommerce-customer-details .woocommerce-customer-details--phone::before{
	top: 0;
}
.woocommerce .woocommerce-customer-details .woocommerce-customer-details--email::before{
	top: 2px;
}
.woocommerce-order-details table{
	background: #f8f7f7;
	padding: 20px;
}

body.woocommerce-order-received #wccheckout-wrapper .woocommerce ul.order_details li strong{
	font-size: 14px;
}


body.woocommerce-order-received #wccheckout-wrapper th.woocommerce-table__product-name.product-name,
body.woocommerce-order-received #wccheckout-wrapper th.woocommerce-table__product-table.product-total{
	font-size: 22px!important;
	font-weight: 700!important;
}
body.woocommerce-order-received #wccheckout-wrapper .woocommerce-order-details td a{
	font-weight: 500!important;
	font-size: 20px!important;
	line-height: 24px!important;
	color: #43587B!important;
}
body.woocommerce-order-received #wccheckout-wrapper .woocommerce .woocommerce-order-details table tfoot tr th{
	font-weight: 600!important;
}
body.woocommerce-order-received h2.woocommerce-order-details__title,
body.woocommerce-order-received h2.woocommerce-column__title {
    font-size: 30px;
    margin-bottom: 16px;
}
.woocommerce-privacy-policy-text p {
    font-size: 14px;
    padding: 10px 0;
}
#wccheckout-wrapper .woocommerce form .form-row.place-order #place_order{
	text-transform: uppercase;
}
.woocommerce-order-received .woocommerce ul.order_details {
    margin: 0;
    list-style: none;
    border: 1px solid #eee;
    width: auto;
    display: table;
    margin-bottom: 30px;
    margin-top: 0;
}
.woocommerce-order-received .woocommerce ul.order_details + p{
	font-weight: 700;
	font-size: 18px;
}
.woocommerce-order-received #wccheckout-wrapper .woocommerce-order {
    padding-top: 50px;
}
.woocommerce-order-received .woocommerce-order-details{
	padding-top: 50px;
}
.woocommerce-order-received .woocommerce-table--order-details .wc-item-meta *{
	font-size: 16px;
	display: inline-block;
}
.woocommerce-order-received .woocommerce table.shop_table td{
    border-bottom: 1px solid #fff!important;
    padding: 15px 20px;	
}
.woocommerce-order-received .woocommerce table.shop_table th{
	border-bottom: 1px solid #fff!important;
	padding: 10px 20px;	
}
.woocommerce-order-received .woocommerce-order-details table{
	border-radius: 10px!important;
}
.woocommerce-order-received .woocommerce table.shop_table tfoot tr:last-child th,
.woocommerce-order-received .woocommerce table.shop_table tfoot tr:last-child td{
	border: none!important;
}
.woocommerce-order-received .woocommerce-customer-details{
	padding-top: 30px;
}
.woocommerce-order-received #wccheckout-wrapper .woocommerce-customer-details address{
	min-height: 130px;
}
.woocommerce-order-received #wccheckout-wrapper .woocommerce-order-details td span{
	font-weight: 500!important;
}

.woocommerce-MyAccount-navigation ul{
    list-style: none;
}
.woocommerce-MyAccount-navigation ul li.is-active a{
   	/*background: #31304F;*/
    color: #fff!important;
    padding-left: 10px;
}

.woocommerce-account .woocommerce-Addresses,
.woocommerce-account .woocommerce-address-fields{
    padding-top: 20px;
}
.woocommerce-account .woocommerce-address-fields__field-wrapper,
.woocommerce-account .woocommerce-EditAccountForm fieldset{
    padding-bottom: 60px;
}
.woocommerce-account .woocommerce-EditAccountForm fieldset:last-of-type{
    padding-bottom: 28px;
}
.woocommerce-account .select2-container .select2-selection--single,
.woocommerce-account .select2-container--default .select2-selection--single .select2-selection__arrow{
    height: 50px!important;
}
.woocommerce-account .select2-container--default .select2-selection--single .select2-selection__rendered{
    line-height: 50px;
}

.woocommerce-account .addresses .title a.edit {
    background: #3f3f3f;
    color: #fff;
    padding: 5px 15px;
    border-radius: 5px;
}
.woocommerce-account .addresses .title a.edit:hover{
    background: #e75423;
}
.woocommerce div.product form.cart .reset_variations{
    display: none!important;
}







/* wc-all-reset-list */

ul.select2-results__options,
ul.woocommerce-error,
.woocommerce-MyAccount-navigation ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
.reset-list li,
.woocommerce-checkout-payment ul li,
ul.select2-results__options li,
ul.woocommerce-error li,
.woocommerce-MyAccount-navigation ul li{
	padding: 0;
	margin: 0;
	list-style: none;
	margin: 0;
}
.reset-list li:before,
.woocommerce-checkout-payment ul li:before,
ul.select2-results__options li:before,
ul.woocommerce-error li:before,
.woocommerce-MyAccount-navigation ul li:before{
	content: none!important;
}
ul.select2-results__options li{
	padding: 2px 10px 10px;
}



/* wc-all-input-design */

.woocommerce input[type="text"],
.woocommerce input[type="email"],
.woocommerce input[type="tel"],
.woocommerce input[type="password"],
.woocommerce textarea{
	width: 100%;
    max-width: 100%;
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #ECF1F4;
    box-sizing: border-box;
    padding: 5px 16px 5px;
    color: #000000;
    font-weight: 300;
    font-size: 16px;
    line-height: 16px;
    transition: all 0.5s;
    -ms-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    border-radius: 6px;
    letter-spacing: -0.02em;
}
.woocommerce input[type="text"]:focus,
.woocommerce input[type="email"]:focus,
.woocommerce input[type="tel"]:focus,
.woocommerce input[type="password"]:focus,
.woocommerce textarea:focus{
	border-color:#d0d0d0!important;
	border-width:1px!important;
}

body.woocommerce-account .woocommerce form .form-row select, 
body.woocommerce-account  .woocommerce-page form .form-row select,
body.woocommerce-checkout .woocommerce-billing-fields__field-wrapper .selection .select2-selection,
body.woocommerce-checkout .woocommerce-shipping-fields .selection .select2-selection,
body.woocommerce-checkout .woocommerce-additional-fields__field-wrapper .selection .select2-selection{
    width: 100%;
    height: 50px!important;
    border: 1px solid #ECF1F4!important;
    color: #909BA5;
    padding: 5px 15px 5px;
    font-size: 16px;
    background: #fff;
    border-radius:6px!important;
}















/* woocommerce */


.woocommerce .cart_totals > h2{
	font-size: 27px;
} 
.woocommerce .product-name a{
	color: #000;
}
.woocommerce #coupon_code {
    width: 180px;
    border: 2px solid #3f3f3f!important;
    padding: 5px 10px;
    height: 52px;
}
.woocommerce .woocommerce-notices-wrapper ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
.woocommerce .woocommerce-notices-wrapper ul li:before{
	content: none!important;
}
.woocommerce-notices-wrapper .woocommerce-error,
.woocommerce .woocommerce-error{
	padding-left: 58px!important;
	position: relative;
}

.woocommerce .woocommerce-error::before, 
.woocommerce .woocommerce-info::before, 
.woocommerce .woocommerce-message::before {
    top: 6px;
    left: 16px;
    content: ""!important;
    background-image: url('../images/alert-icon.svg');
    width: 24px;
    height: 24px;
}
.woocommerce .woocommerce-info,
.woocommerce .woocommerce-error,
.woocommerce .woocommerce-notices-wrapper ul,
.woocommerce .woocommerce-message {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 45px;
    padding-right: 20px;
    font-size: 16px;
    color: #fff;
    font-weight: 300;
}
.woocommerce .showlogin{
	color: #fff;
}
.woocommerce .woocommerce-info span,
.woocommerce .woocommerce-error span,
.woocommerce .woocommerce-message span{
    margin-bottom: 10px;
    display: inline-block;
}

.woocommerce .woocommerce-NoticeGroup{
	margin-bottom: 20px;
}
.woocommerce #coupon_code:hover,
.woocommerce #coupon_code:focus{
	color: #000!important;
}

.woocommerce #customer_details .col-1,
.woocommerce #customer_details .col-2{
	display: block;
	max-width: 100%;
}
.woocommerce #customer_details .col-1{
	width: 65%;
}
.woocommerce #customer_details .col-2{
	width: 35%;
}
body.woocommerce-account #customer_login{
	display: block;
}

body.woocommerce-account #customer_login .u-column1.col-1 > h2,
body.woocommerce-account #customer_login .u-column2.col-2 > h2{
	font-size: 32px;
}
.woocommerce .woocommerce-billing-fields__field-wrapper .form-row{
	display: block;
}
.woocommerce .woocommerce-billing-fields__field-wrapper .form-row label{
	display: block;
}


.woocommerce textarea{
	min-height: 200px;
}
#coupon_code{
	height: 39.75px;
}
.select2-container--default .select2-selection--single{
	height: 48px!important;
    display: flex!important;
    align-items: center;
    border-radius: 0!important;
    border: 1px solid #ECF1F4!important
}
.select2-dropdown{
		border-width: 2px!important;
		border-color: #F3F3F3!important;
}
.select2-container--default .select2-selection--single .select2-selection__arrow{
	top: 50%!important;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	margin-right:0px;
}
input.select2-search__field{
	height: 30px!important;
}


.woocommerce .form-row{
	display: block;
}

.woocommerce #order_comments{
	padding: 10px;
}

#order_review_heading{
	padding-top: 20px;
}
.woocommerce-notices-wrapper{
	margin-bottom: 25px;
}
.u-columns.woocommerce-Addresses.addresses{
	display: block;
	margin: 0 -10px;
}
.u-column1.col-1.woocommerce-Address,
.u-column2.col-2.woocommerce-Address{
	width: 50%!important;
	max-width: 100%;
}

.u-column2.col-2.woocommerce-Address{

}
.woocommerce-Address-title.title h3{
	font-size: 27px!important;
}
.woocommerce-Address-title.title a{
	text-decoration: underline;
}
.woocommerce-notice.woocommerce-notice--info.woocommerce-info{
	padding-left: 15px;
}

.pro-overview-single-des-link  a.add_to_cart_button:hover{
	background: transparent!important;
}
.pro-overview-single-des-link .added_to_cart.wc-forward:hover{
	color: #BF211E!important;
}
.pro-overview-single-des-link .add_to_cart_button.ajax_add_to_cart.added{
	margin-left: 10px;
}
.pro-overview-single-des-link .add_to_cart_button.ajax_add_to_cart.added:hover{
	color: #BF211E!important;
}
.pro-overview-single-des-link .add_to_cart_button.ajax_add_to_cart.added:hover svg{
	fill:  #BF211E!important;
}
.pro-overview-grid-btm-lnc a.rentbtn.button.add_to_cart_button{
	background: transparent!important;
	border: none!important;
}
.pro-overview-grid-btm-lnc a.rentbtn.ajax_add_to_cart.added{
	margin-left: 5px;
}
.pro-overview-grid-btm-lnc a.rentbtn.ajax_add_to_cart.added:hover svg{
	fill: #F3BF00;
}
.woocommerce-cart.woocommerce-page  table.cart img{
    width: 82px;
}
.wc-proceed-to-checkout a.checkout-button{
    margin-left: 0!important;
}
.single-product.woocommerce div.product p.price{
    color:#5a5a5a;
}
/*.woocommerce-Price-currencySymbol{
    margin-right: 5px;
}*/
/*.pro-overview-single-des-link{
	display: flex;
	align-items: center;
}
.pro-overview-single-des-link .add_to_cart_button{
	justify-content: flex-end;
	display: flex;
}*/
/* cart page */

.hide-account-title .page-title,
.payment-method-crtl table.woocommerce-checkout-review-order-table {
    display: none !important;
}
.register-form-hide,
.login-register-wrap.hide-login-form{
	display: none;
}
.register-nextstep.register-form-hide.show-next-form{
	display: block;
}
.form-row{
	position: relative;
}
.error-valid {
    position: absolute;
    top: 0;
    right: 2px;
    color: #D61D1D;
    font-size: 14px;
}
.woocommerce-checkout span.optional,
.custom-checkout-order-review small.includes_tax,
.cart_totals small.includes_tax{
    display: none;
}
.woocommerce-checkout #billing_company_field,
.woocommerce-checkout #vat_number_field,
.woocommerce-checkout #billing_reference_field{
	display: none !important;
}
.woocommerce-checkout .show-vat_number#vat_number_field,
.woocommerce-checkout .show-company#billing_company_field,
.woocommerce-checkout .show-reference#billing_reference_field{
	display: block !important;
}
.no-results {
    text-align: center;
    color: #D17181;
}
.notfound {
    text-align: center;
    padding: 50px 0;
    color: #D17181;
}

@media(max-width:1699px){
	.woocommerce .checkout-button.button, 
	.woocommerce #respond input#submit, 
	.woocommerce a.button, 
	.woocommerce button.button, 
	.woocommerce input.button, 
	.woocommerce button[type=submit], 
	.woocommerce-orders .orders-crtl .contact-info a.order-contact-btn, 
	body.woocommerce-checkout .custom-checkout-order-review .ywgc_enter_code .form-row-last button[type=submit]{
		font-size:15px!important;
	}
}

@media(max-width: 1199px){
	body.woocommerce-order-received .woocommerce ul.order_details{
		padding-left: 15px;
	}
	body.woocommerce-order-received .woocommerce ul.order_details li{
		width: 33.3333%;
		float: left;
		margin-right: 0;
		padding-right: 30px;
		padding-left: 30px;
		margin-bottom: 20px;
	}
	body.woocommerce-order-received .woocommerce ul.order_details li:nth-child(3n+1){
		clear: left;
	}
} 


@media(max-width: 991px){
	body.woocommerce-order-received .woocommerce ul.order_details:after,
	body.woocommerce-order-received .woocommerce ul.order_details:before{
		content: "";
		clear: both;
		display: table;
	}
	.woocommerce .col2-set .col-1, .woocommerce-page .col2-set .col-1,
	.woocommerce .col2-set .col-2, .woocommerce-page .col2-set .col-2{
        float: left;
        width: 100%;
    }

   /* wccommoerce */
   .woocommerce #customer_details .col-1,
	.woocommerce #customer_details .col-2 {
	    width: 100%;
	    padding-left: 0;
	    padding-right: 0;
	}
	.woocommerce #customer_details .col-1{
		padding-bottom: 50px;
	}
	.woocommerce form .form-row label {
        font-size: 16px;
    }

}
@media(max-width: 768px){
    .woocommerce-account .woocommerce-MyAccount-navigation{
        margin-bottom: 30px;
    }
    .woocommerce-MyAccount-navigation ul{
        padding-left: 0;
    }

   /* wccommoerce */

    body.woocommerce-cart .default-page-con,
	body.woocommerce-checkout .default-page-con{
		padding-top: 50px;
	}
	body.woocommerce-account .woocommerce .u-column1.col-1,
	body.woocommerce-account .woocommerce .u-column2.col-2{
		width: 100%!important;
		max-width: 100%;
		float: none!important;
	}
	body.woocommerce-account .woocommerce .u-column1.col-1, 
	body.woocommerce-account .woocommerce .u-column2.col-2{
		padding-left: 0;
		padding-right: 0;
	}
	.woocommerce-cart.woocommerce-page button.button{
	    margin-left: 0!important;
	}
}

@media(max-width: 767px){

	.xoo-cp-modal .xoo-cp-btns, .xoo-cp-modal .xoo-cp-pdetails .xoo-cp-ptitle {
	    padding-left: 25px!important;
	    padding-right: 25px!important;
	}
	body.woocommerce-order-received .woocommerce ul.order_details li{
		width: 50%;
	}
	body.woocommerce-order-received .woocommerce ul.order_details li:nth-child(3n+1){
		clear: initial;
	}
	body.woocommerce-order-received .woocommerce ul.order_details li:nth-child(2n+1){
		clear: left;
	}

}
 


@media(max-width: 639px){

}



@media(max-width: 575px){
	body.woocommerce-order-received ul.wc-item-meta{
		padding-left: 25px;
	}
	body.woocommerce-order-received h2.woocommerce-order-details__title,
	body.woocommerce-order-received h2.woocommerce-column__title {
	    font-size: 33px;
	    margin-bottom: 16px;
	}
	body.woocommerce-order-received .woocommerce ul.order_details li{
		width: 100%;
	}
	body.woocommerce-order-received .woocommerce ul.order_details li:last-child{
		border-right: 1px dashed #d3ced2;
	}
	.woocommerce-notice.woocommerce-notice--success.woocommerce-thankyou-order-received {
	    text-align: center;
	}
    .woocommerce form .form-row-first, 
    .woocommerce form .form-row-last, 
    .woocommerce-page form .form-row-first, 
    .woocommerce-page form .form-row-last {
        width: 100%;
        overflow: visible;
    }




   /* wccommoerce */

    .woocommerce-form-row.form-row.form-row-first,
	.woocommerce-form-row.form-row.form-row-last,
	.woocommerce .form-row.form-row-first,
	.woocommerce .form-row.form-row-last{
		width: 100%;
	}
	.woocommerce .woocommerce-info,
    .woocommerce .woocommerce-error,
    .woocommerce .woocommerce-notices-wrapper ul,
    .woocommerce .woocommerce-message {
        font-size: 13px;
    }
    #add_payment_method .wc-proceed-to-checkout a.checkout-button, 
    .woocommerce-cart .wc-proceed-to-checkout a.checkout-button, 
    .woocommerce-checkout .wc-proceed-to-checkout a.checkout-button{
        font-size: 16px;
    }
    .woocommerce form .form-row label {
        font-size: 15px;
    }
    .woocommerce #coupon_code{
        width: 160px;
    }
}


@media(max-width: 479px){
	.xoo-cp-atcn:after{
		left: 50px;
		right: 50px;
	}	
	.cartpopup-title{
		width: 100%;
		padding-left: 0;
	}
	.cartpopup-thumb{
		width: 100%;
		text-align: center;
		margin-bottom: 20px;
	}
	.xoo-cp-modal .cartpopup-thumb a{
		max-width: 112px;
		margin: 0 auto;
	}
}

@media(max-width:420px){
	.woocommerce #coupon_code{
		width: 100%;
		margin-bottom: 15px;
	}
}

@media(max-width: 359px){

}