.werk-two-grds-sec {
    padding: 95px 0;
    background: rgba(231, 234, 236, 0.2);
}
.werk-one-grds-sec{
	padding-top: 85px;
	padding-bottom: 70px;
}
span.werk-abs-img-two {
    top: 72%;
}
.werk-steps-grid-sec{
	padding-top: 100px;
}
.werk-steps-grid-sec-cntlr{
	padding-bottom: 100px;
	border-bottom:  2px solid #EFF4F7;
}
.step-heading{
	line-height: 24px;
	text-align: center;
	letter-spacing: 0.04em;
	text-transform: uppercase;
	color: #000000;
	margin-bottom: 40px;
}
.werk-grid-item{
	position: relative;
}
.werk-grid-des p:last-of-type {
    margin-bottom: 0;
}
.dfp-text-module p:last-of-type {
    margin-bottom: 0;
}
.werk-grids-cntlr .werk-grids-slider-cntlr {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -10px;
	justify-content: center;
}
.werk-grids-cntlr .werk-grids-slider-cntlr  .werk-mgs-slide-item{
	max-width: 33.3333%;
	width: 100%;
	padding: 0 10px;
}
.werk-inline-bg{
	position: relative;
	margin-bottom: 55px;
}
.werk-stp-ibg {
    overflow: hidden;
}
.werk-grid-inline-bg img{
	display: none;
}
.werk-grid-inline-bg{
	min-height: 294px;
	transition: all .5s;
	-ms-transition: all .5s;
	-webkit-transition: all .5s;
}
.werk-inline-bg:hover .werk-grid-inline-bg{
	transform: scale(1.1);
}
.abs-numbering {
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #FFA800;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 0.8;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #FFFFFF;
    width: 66px;
    height: 66px;
    justify-content: center;
}
.werk-grid-des{
	text-align: center;
	padding: 0 20px;
}
.werk-grid-itm-heading{
	text-align: center;
	letter-spacing: 0.04em;
	text-transform: uppercase;
	color: #000000;
	margin-bottom: 15px;
}
.werk-testimonial{
	margin-top: 0;
}
.ovo-testimonial-grds-slider{
	margin-bottom: 0!important;
}
.werk-testimonial{
    margin-top: 0px;
    margin-bottom: 0;
    padding-bottom: 40px;
}
.werk-abs-round-two {
    top: 550px;
}
body.werk-bdff .footer-wrp .ftr-white-skew {
    border-top-color: #fff;
}
body.werk-bdff.sky-btm-bg-cntlr {
    background: rgb(255 255 255 / 20%);
}
.dn{
	/*display: none!important;*/
}
.werk-grid-itm-heading a{
	text-decoration: none;
}
.werk-testimonial-slider-sec{
	padding-top: 95px;
	padding-bottom: 40px;
}
.werkj-testimonial{
	margin-bottom: 0;
	margin-top: 0;
}
ol.werk-ol {
    padding-bottom: 15px;
}
.ovo-text-module p:first-child {
    margin-bottom: 20px;
}







@media (max-width: 1699px){
	.werk-one-grds-sec {
	    padding-top: 75px;
	}
	.werk-steps-grid-sec {
	    padding-top: 90px;
	}
	.werk-steps-grid-sec-cntlr{
		padding-bottom: 90px;
	}
	.werk-testimonial-slider-sec {
	    padding-top: 85px;
	}
	.abs-numbering {
	    width: 60px;
	    height: 60px;
	    font-size: 28px;
	    bottom: -15px;
	}
	.werk-grid-des p{
		line-height: 1.7;
	}
	.werk-two-grds-sec {
	    padding: 85px 0;
	}

}
@media (max-width: 1499px){
	.werk-steps-grid-sec {
	    padding-top: 80px;
	}
	.werk-grid-inline-bg {
    	min-height: 250px;
	}
	.abs-numbering {
	    font-size: 25px;
	    width: 55px;
	    height: 55px;
	}
	.werk-grid-inline-bg img{
		min-height: 250px;
	}
	.werk-grid-des p{
		line-height: 1.6;
	}
	.werk-two-grds-sec {
	    padding: 75px 0;
	}
	.werk-one-grds-sec {
	    padding-top: 65px;
	}
	.werk-inline-bg {
	    margin-bottom: 50px;
	}
	.werk-steps-grid-sec-cntlr {
	    padding-bottom: 75px;
	}
	.werk-testimonial-slider-sec {
	    padding-top: 75px;
	}




}
@media(max-width: 1299px){

}
@media(max-width: 1199px){
	.werk-inline-bg {
	    margin-bottom: 40px;
	}
	.werk-two-grds-sec {
	    padding: 55px 0;
	}
	.werk-one-grds-sec {
	    padding-top: 55px;
	}
	.werk-steps-grid-sec {
		padding-top: 70px;
	}
	.werk-steps-grid-sec-cntlr {
	    padding-bottom: 65px;
	}
	.werk-testimonial-slider-sec {
	    padding-top: 65px;
	}



}
@media(max-width: 991px){
	.werk-grids-cntlr .werk-grids-slider-cntlr  .werk-mgs-slide-item{
		max-width: 50%;
		padding-bottom: 60px;
	}
	.abs-numbering {
	    font-size: 22px;
	    width: 50px;
	    height: 50px;
	    bottom: -10px;
	}
	.werk-grid-inline-bg {
	    min-height: 240px;
	}
	.werk-steps-grid-sec-cntlr {
	    padding-bottom: 0;
	}
	.werk-grid-inline-bg img{
	    min-height: 240px;
	}
	.werk-grid-itm-heading{
		margin-bottom: 20px;
	}
	.werk-two-grds-sec {
	    padding: 40px 0;
	}
	.werk-one-grds-sec {
	    padding-top: 40px;
	}	
	.werk-steps-grid-sec {
	    padding-top: 55px;
	}
	.werk-testimonial-slider-sec {
	    padding-top: 55px;
	}
	.werk-inline-bg {
	    margin-bottom: 35px;
	}




s


}
@media(max-width: 767px){
	.abs-numbering {
	    width: 42px;
	    height: 42px;
	    font-size: 24px;
	}
	.werk-abs-round-two {
	    top: 0;
	}
	.werk-mbl-grid-slider-iner  ul.slick-dots{
		padding-top: 30px!important;
	}
	.mbl-step-ttl{
		font-size: 24px;
		text-align: center;
		margin-bottom: 35px!important;
		margin-top: 40px;
	}
	.werk-two-grds-sec{
		background-color: #fff;
	}
	.ovo-text-module p.ovo-tmpara{
		font-size: 18px;
		line-height: 26px;
	}
	.werk-two-grds-sec{
		padding-bottom: 0;
	}
	.werk-grid-itm-heading{
		font-size: 24px!important;
	}
	.dfp-text-module p {
	    margin-bottom: 15px;
	}
	.werk-grid-item {
	    max-width: 400px;
	    margin: 0 auto;
	}
	.werk-steps-grid-sec {
	    padding-top: 40px;
	}
	.step-heading{
		margin-bottom: 32px;
	}
	.werk-grids-cntlr .werk-grids-slider-cntlr  .werk-mgs-slide-item {
	    padding-bottom: 35px;
	}
	.werkmsgSlider ul.slick-dots{
		margin-bottom: 40px;
	}
	.werk-testimonial-slider-sec {
	    padding-top: 35px;
	}
	.werk-grid-des {
	    padding: 0 10px;
	}
	.ovo-text-module p:first-child {
	    margin-bottom: 15px;
	}
	.werk-text-module-ul{
		margin-bottom: 5px;
	}
	.werk-one-grds-sec {
	    padding-top: 35px;
	}



}
@media(max-width: 575px){


}
@media(max-width: 479px){

}
@media(max-width: 359px){


}
